/*
Corax API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v2.327.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ModelDeploymentPoolsAPIService ModelDeploymentPoolsAPI service
type ModelDeploymentPoolsAPIService service

type ModelDeploymentPoolsAPIAddPoolMemberV1ModelPoolsPoolIdMembersPostRequest struct {
	ctx context.Context
	ApiService *ModelDeploymentPoolsAPIService
	poolId string
	poolMemberCreate *PoolMemberCreate
}

func (r ModelDeploymentPoolsAPIAddPoolMemberV1ModelPoolsPoolIdMembersPostRequest) PoolMemberCreate(poolMemberCreate PoolMemberCreate) ModelDeploymentPoolsAPIAddPoolMemberV1ModelPoolsPoolIdMembersPostRequest {
	r.poolMemberCreate = &poolMemberCreate
	return r
}

func (r ModelDeploymentPoolsAPIAddPoolMemberV1ModelPoolsPoolIdMembersPostRequest) Execute() (*PoolMember, *http.Response, error) {
	return r.ApiService.AddPoolMemberV1ModelPoolsPoolIdMembersPostExecute(r)
}

/*
AddPoolMemberV1ModelPoolsPoolIdMembersPost Add Pool Member

Add a member to a model deployment pool.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param poolId
 @return ModelDeploymentPoolsAPIAddPoolMemberV1ModelPoolsPoolIdMembersPostRequest
*/
func (a *ModelDeploymentPoolsAPIService) AddPoolMemberV1ModelPoolsPoolIdMembersPost(ctx context.Context, poolId string) ModelDeploymentPoolsAPIAddPoolMemberV1ModelPoolsPoolIdMembersPostRequest {
	return ModelDeploymentPoolsAPIAddPoolMemberV1ModelPoolsPoolIdMembersPostRequest{
		ApiService: a,
		ctx: ctx,
		poolId: poolId,
	}
}

// Execute executes the request
//  @return PoolMember
func (a *ModelDeploymentPoolsAPIService) AddPoolMemberV1ModelPoolsPoolIdMembersPostExecute(r ModelDeploymentPoolsAPIAddPoolMemberV1ModelPoolsPoolIdMembersPostRequest) (*PoolMember, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PoolMember
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ModelDeploymentPoolsAPIService.AddPoolMemberV1ModelPoolsPoolIdMembersPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/model-pools/{pool_id}/members"
	localVarPath = strings.Replace(localVarPath, "{"+"pool_id"+"}", url.PathEscape(parameterValueToString(r.poolId, "poolId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.poolMemberCreate == nil {
		return localVarReturnValue, nil, reportError("poolMemberCreate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.poolMemberCreate
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ModelDeploymentPoolsAPICreateModelPoolV1ModelPoolsPostRequest struct {
	ctx context.Context
	ApiService *ModelDeploymentPoolsAPIService
	modelDeploymentPoolCreate *ModelDeploymentPoolCreate
}

func (r ModelDeploymentPoolsAPICreateModelPoolV1ModelPoolsPostRequest) ModelDeploymentPoolCreate(modelDeploymentPoolCreate ModelDeploymentPoolCreate) ModelDeploymentPoolsAPICreateModelPoolV1ModelPoolsPostRequest {
	r.modelDeploymentPoolCreate = &modelDeploymentPoolCreate
	return r
}

func (r ModelDeploymentPoolsAPICreateModelPoolV1ModelPoolsPostRequest) Execute() (*ModelDeploymentPool, *http.Response, error) {
	return r.ApiService.CreateModelPoolV1ModelPoolsPostExecute(r)
}

/*
CreateModelPoolV1ModelPoolsPost Create Model Pool

Create a new model deployment pool.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ModelDeploymentPoolsAPICreateModelPoolV1ModelPoolsPostRequest
*/
func (a *ModelDeploymentPoolsAPIService) CreateModelPoolV1ModelPoolsPost(ctx context.Context) ModelDeploymentPoolsAPICreateModelPoolV1ModelPoolsPostRequest {
	return ModelDeploymentPoolsAPICreateModelPoolV1ModelPoolsPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ModelDeploymentPool
func (a *ModelDeploymentPoolsAPIService) CreateModelPoolV1ModelPoolsPostExecute(r ModelDeploymentPoolsAPICreateModelPoolV1ModelPoolsPostRequest) (*ModelDeploymentPool, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ModelDeploymentPool
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ModelDeploymentPoolsAPIService.CreateModelPoolV1ModelPoolsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/model-pools"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.modelDeploymentPoolCreate == nil {
		return localVarReturnValue, nil, reportError("modelDeploymentPoolCreate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.modelDeploymentPoolCreate
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ModelDeploymentPoolsAPIDeleteModelPoolV1ModelPoolsPoolIdDeleteRequest struct {
	ctx context.Context
	ApiService *ModelDeploymentPoolsAPIService
	poolId string
}

func (r ModelDeploymentPoolsAPIDeleteModelPoolV1ModelPoolsPoolIdDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteModelPoolV1ModelPoolsPoolIdDeleteExecute(r)
}

/*
DeleteModelPoolV1ModelPoolsPoolIdDelete Delete Model Pool

Delete a model deployment pool.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param poolId
 @return ModelDeploymentPoolsAPIDeleteModelPoolV1ModelPoolsPoolIdDeleteRequest
*/
func (a *ModelDeploymentPoolsAPIService) DeleteModelPoolV1ModelPoolsPoolIdDelete(ctx context.Context, poolId string) ModelDeploymentPoolsAPIDeleteModelPoolV1ModelPoolsPoolIdDeleteRequest {
	return ModelDeploymentPoolsAPIDeleteModelPoolV1ModelPoolsPoolIdDeleteRequest{
		ApiService: a,
		ctx: ctx,
		poolId: poolId,
	}
}

// Execute executes the request
func (a *ModelDeploymentPoolsAPIService) DeleteModelPoolV1ModelPoolsPoolIdDeleteExecute(r ModelDeploymentPoolsAPIDeleteModelPoolV1ModelPoolsPoolIdDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ModelDeploymentPoolsAPIService.DeleteModelPoolV1ModelPoolsPoolIdDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/model-pools/{pool_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"pool_id"+"}", url.PathEscape(parameterValueToString(r.poolId, "poolId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ModelDeploymentPoolsAPIGetModelPoolV1ModelPoolsPoolIdGetRequest struct {
	ctx context.Context
	ApiService *ModelDeploymentPoolsAPIService
	poolId string
}

func (r ModelDeploymentPoolsAPIGetModelPoolV1ModelPoolsPoolIdGetRequest) Execute() (*ModelDeploymentPool, *http.Response, error) {
	return r.ApiService.GetModelPoolV1ModelPoolsPoolIdGetExecute(r)
}

/*
GetModelPoolV1ModelPoolsPoolIdGet Get Model Pool

Get a specific model deployment pool by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param poolId
 @return ModelDeploymentPoolsAPIGetModelPoolV1ModelPoolsPoolIdGetRequest
*/
func (a *ModelDeploymentPoolsAPIService) GetModelPoolV1ModelPoolsPoolIdGet(ctx context.Context, poolId string) ModelDeploymentPoolsAPIGetModelPoolV1ModelPoolsPoolIdGetRequest {
	return ModelDeploymentPoolsAPIGetModelPoolV1ModelPoolsPoolIdGetRequest{
		ApiService: a,
		ctx: ctx,
		poolId: poolId,
	}
}

// Execute executes the request
//  @return ModelDeploymentPool
func (a *ModelDeploymentPoolsAPIService) GetModelPoolV1ModelPoolsPoolIdGetExecute(r ModelDeploymentPoolsAPIGetModelPoolV1ModelPoolsPoolIdGetRequest) (*ModelDeploymentPool, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ModelDeploymentPool
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ModelDeploymentPoolsAPIService.GetModelPoolV1ModelPoolsPoolIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/model-pools/{pool_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"pool_id"+"}", url.PathEscape(parameterValueToString(r.poolId, "poolId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ModelDeploymentPoolsAPIListModelPoolsV1ModelPoolsGetRequest struct {
	ctx context.Context
	ApiService *ModelDeploymentPoolsAPIService
	page *int32
	size *int32
	sort *string
	filter *string
}

func (r ModelDeploymentPoolsAPIListModelPoolsV1ModelPoolsGetRequest) Page(page int32) ModelDeploymentPoolsAPIListModelPoolsV1ModelPoolsGetRequest {
	r.page = &page
	return r
}

func (r ModelDeploymentPoolsAPIListModelPoolsV1ModelPoolsGetRequest) Size(size int32) ModelDeploymentPoolsAPIListModelPoolsV1ModelPoolsGetRequest {
	r.size = &size
	return r
}

func (r ModelDeploymentPoolsAPIListModelPoolsV1ModelPoolsGetRequest) Sort(sort string) ModelDeploymentPoolsAPIListModelPoolsV1ModelPoolsGetRequest {
	r.sort = &sort
	return r
}

func (r ModelDeploymentPoolsAPIListModelPoolsV1ModelPoolsGetRequest) Filter(filter string) ModelDeploymentPoolsAPIListModelPoolsV1ModelPoolsGetRequest {
	r.filter = &filter
	return r
}

func (r ModelDeploymentPoolsAPIListModelPoolsV1ModelPoolsGetRequest) Execute() (*PagedResponseModelModelDeploymentPool, *http.Response, error) {
	return r.ApiService.ListModelPoolsV1ModelPoolsGetExecute(r)
}

/*
ListModelPoolsV1ModelPoolsGet List Model Pools

Get a paginated list of model deployment pools.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ModelDeploymentPoolsAPIListModelPoolsV1ModelPoolsGetRequest
*/
func (a *ModelDeploymentPoolsAPIService) ListModelPoolsV1ModelPoolsGet(ctx context.Context) ModelDeploymentPoolsAPIListModelPoolsV1ModelPoolsGetRequest {
	return ModelDeploymentPoolsAPIListModelPoolsV1ModelPoolsGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PagedResponseModelModelDeploymentPool
func (a *ModelDeploymentPoolsAPIService) ListModelPoolsV1ModelPoolsGetExecute(r ModelDeploymentPoolsAPIListModelPoolsV1ModelPoolsGetRequest) (*PagedResponseModelModelDeploymentPool, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PagedResponseModelModelDeploymentPool
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ModelDeploymentPoolsAPIService.ListModelPoolsV1ModelPoolsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/model-pools"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
        var defaultValue int32 = 1
        parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
        r.page = &defaultValue
	}
	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	} else {
        var defaultValue int32 = 10
        parameterAddToHeaderOrQuery(localVarQueryParams, "size", defaultValue, "form", "")
        r.size = &defaultValue
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	} else {
        var defaultValue string = "id"
        parameterAddToHeaderOrQuery(localVarQueryParams, "sort", defaultValue, "form", "")
        r.sort = &defaultValue
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ModelDeploymentPoolsAPIListPoolMembersV1ModelPoolsPoolIdMembersGetRequest struct {
	ctx context.Context
	ApiService *ModelDeploymentPoolsAPIService
	poolId string
}

func (r ModelDeploymentPoolsAPIListPoolMembersV1ModelPoolsPoolIdMembersGetRequest) Execute() ([]PoolMember, *http.Response, error) {
	return r.ApiService.ListPoolMembersV1ModelPoolsPoolIdMembersGetExecute(r)
}

/*
ListPoolMembersV1ModelPoolsPoolIdMembersGet List Pool Members

Get all members of a model deployment pool.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param poolId
 @return ModelDeploymentPoolsAPIListPoolMembersV1ModelPoolsPoolIdMembersGetRequest
*/
func (a *ModelDeploymentPoolsAPIService) ListPoolMembersV1ModelPoolsPoolIdMembersGet(ctx context.Context, poolId string) ModelDeploymentPoolsAPIListPoolMembersV1ModelPoolsPoolIdMembersGetRequest {
	return ModelDeploymentPoolsAPIListPoolMembersV1ModelPoolsPoolIdMembersGetRequest{
		ApiService: a,
		ctx: ctx,
		poolId: poolId,
	}
}

// Execute executes the request
//  @return []PoolMember
func (a *ModelDeploymentPoolsAPIService) ListPoolMembersV1ModelPoolsPoolIdMembersGetExecute(r ModelDeploymentPoolsAPIListPoolMembersV1ModelPoolsPoolIdMembersGetRequest) ([]PoolMember, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []PoolMember
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ModelDeploymentPoolsAPIService.ListPoolMembersV1ModelPoolsPoolIdMembersGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/model-pools/{pool_id}/members"
	localVarPath = strings.Replace(localVarPath, "{"+"pool_id"+"}", url.PathEscape(parameterValueToString(r.poolId, "poolId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ModelDeploymentPoolsAPIRemovePoolMemberV1ModelPoolsPoolIdMembersMemberIdDeleteRequest struct {
	ctx context.Context
	ApiService *ModelDeploymentPoolsAPIService
	poolId string
	memberId string
}

func (r ModelDeploymentPoolsAPIRemovePoolMemberV1ModelPoolsPoolIdMembersMemberIdDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.RemovePoolMemberV1ModelPoolsPoolIdMembersMemberIdDeleteExecute(r)
}

/*
RemovePoolMemberV1ModelPoolsPoolIdMembersMemberIdDelete Remove Pool Member

Remove a member from a model deployment pool.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param poolId
 @param memberId
 @return ModelDeploymentPoolsAPIRemovePoolMemberV1ModelPoolsPoolIdMembersMemberIdDeleteRequest
*/
func (a *ModelDeploymentPoolsAPIService) RemovePoolMemberV1ModelPoolsPoolIdMembersMemberIdDelete(ctx context.Context, poolId string, memberId string) ModelDeploymentPoolsAPIRemovePoolMemberV1ModelPoolsPoolIdMembersMemberIdDeleteRequest {
	return ModelDeploymentPoolsAPIRemovePoolMemberV1ModelPoolsPoolIdMembersMemberIdDeleteRequest{
		ApiService: a,
		ctx: ctx,
		poolId: poolId,
		memberId: memberId,
	}
}

// Execute executes the request
func (a *ModelDeploymentPoolsAPIService) RemovePoolMemberV1ModelPoolsPoolIdMembersMemberIdDeleteExecute(r ModelDeploymentPoolsAPIRemovePoolMemberV1ModelPoolsPoolIdMembersMemberIdDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ModelDeploymentPoolsAPIService.RemovePoolMemberV1ModelPoolsPoolIdMembersMemberIdDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/model-pools/{pool_id}/members/{member_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"pool_id"+"}", url.PathEscape(parameterValueToString(r.poolId, "poolId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"member_id"+"}", url.PathEscape(parameterValueToString(r.memberId, "memberId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ModelDeploymentPoolsAPIUpdateModelPoolV1ModelPoolsPoolIdPutRequest struct {
	ctx context.Context
	ApiService *ModelDeploymentPoolsAPIService
	poolId string
	modelDeploymentPoolUpdate *ModelDeploymentPoolUpdate
}

func (r ModelDeploymentPoolsAPIUpdateModelPoolV1ModelPoolsPoolIdPutRequest) ModelDeploymentPoolUpdate(modelDeploymentPoolUpdate ModelDeploymentPoolUpdate) ModelDeploymentPoolsAPIUpdateModelPoolV1ModelPoolsPoolIdPutRequest {
	r.modelDeploymentPoolUpdate = &modelDeploymentPoolUpdate
	return r
}

func (r ModelDeploymentPoolsAPIUpdateModelPoolV1ModelPoolsPoolIdPutRequest) Execute() (*ModelDeploymentPool, *http.Response, error) {
	return r.ApiService.UpdateModelPoolV1ModelPoolsPoolIdPutExecute(r)
}

/*
UpdateModelPoolV1ModelPoolsPoolIdPut Update Model Pool

Update an existing model deployment pool.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param poolId
 @return ModelDeploymentPoolsAPIUpdateModelPoolV1ModelPoolsPoolIdPutRequest
*/
func (a *ModelDeploymentPoolsAPIService) UpdateModelPoolV1ModelPoolsPoolIdPut(ctx context.Context, poolId string) ModelDeploymentPoolsAPIUpdateModelPoolV1ModelPoolsPoolIdPutRequest {
	return ModelDeploymentPoolsAPIUpdateModelPoolV1ModelPoolsPoolIdPutRequest{
		ApiService: a,
		ctx: ctx,
		poolId: poolId,
	}
}

// Execute executes the request
//  @return ModelDeploymentPool
func (a *ModelDeploymentPoolsAPIService) UpdateModelPoolV1ModelPoolsPoolIdPutExecute(r ModelDeploymentPoolsAPIUpdateModelPoolV1ModelPoolsPoolIdPutRequest) (*ModelDeploymentPool, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ModelDeploymentPool
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ModelDeploymentPoolsAPIService.UpdateModelPoolV1ModelPoolsPoolIdPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/model-pools/{pool_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"pool_id"+"}", url.PathEscape(parameterValueToString(r.poolId, "poolId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.modelDeploymentPoolUpdate == nil {
		return localVarReturnValue, nil, reportError("modelDeploymentPoolUpdate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.modelDeploymentPoolUpdate
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ModelDeploymentPoolsAPIUpdatePoolMemberV1ModelPoolsPoolIdMembersMemberIdPutRequest struct {
	ctx context.Context
	ApiService *ModelDeploymentPoolsAPIService
	poolId string
	memberId string
	poolMemberUpdate *PoolMemberUpdate
}

func (r ModelDeploymentPoolsAPIUpdatePoolMemberV1ModelPoolsPoolIdMembersMemberIdPutRequest) PoolMemberUpdate(poolMemberUpdate PoolMemberUpdate) ModelDeploymentPoolsAPIUpdatePoolMemberV1ModelPoolsPoolIdMembersMemberIdPutRequest {
	r.poolMemberUpdate = &poolMemberUpdate
	return r
}

func (r ModelDeploymentPoolsAPIUpdatePoolMemberV1ModelPoolsPoolIdMembersMemberIdPutRequest) Execute() (*PoolMember, *http.Response, error) {
	return r.ApiService.UpdatePoolMemberV1ModelPoolsPoolIdMembersMemberIdPutExecute(r)
}

/*
UpdatePoolMemberV1ModelPoolsPoolIdMembersMemberIdPut Update Pool Member

Update a pool member.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param poolId
 @param memberId
 @return ModelDeploymentPoolsAPIUpdatePoolMemberV1ModelPoolsPoolIdMembersMemberIdPutRequest
*/
func (a *ModelDeploymentPoolsAPIService) UpdatePoolMemberV1ModelPoolsPoolIdMembersMemberIdPut(ctx context.Context, poolId string, memberId string) ModelDeploymentPoolsAPIUpdatePoolMemberV1ModelPoolsPoolIdMembersMemberIdPutRequest {
	return ModelDeploymentPoolsAPIUpdatePoolMemberV1ModelPoolsPoolIdMembersMemberIdPutRequest{
		ApiService: a,
		ctx: ctx,
		poolId: poolId,
		memberId: memberId,
	}
}

// Execute executes the request
//  @return PoolMember
func (a *ModelDeploymentPoolsAPIService) UpdatePoolMemberV1ModelPoolsPoolIdMembersMemberIdPutExecute(r ModelDeploymentPoolsAPIUpdatePoolMemberV1ModelPoolsPoolIdMembersMemberIdPutRequest) (*PoolMember, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PoolMember
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ModelDeploymentPoolsAPIService.UpdatePoolMemberV1ModelPoolsPoolIdMembersMemberIdPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/model-pools/{pool_id}/members/{member_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"pool_id"+"}", url.PathEscape(parameterValueToString(r.poolId, "poolId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"member_id"+"}", url.PathEscape(parameterValueToString(r.memberId, "memberId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.poolMemberUpdate == nil {
		return localVarReturnValue, nil, reportError("poolMemberUpdate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.poolMemberUpdate
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
