/*
Corax API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v2.91.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// CapabilityEvaluationsAPIService CapabilityEvaluationsAPI service
type CapabilityEvaluationsAPIService service

type CapabilityEvaluationsAPICreateEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaPostRequest struct {
	ctx                                 context.Context
	ApiService                          *CapabilityEvaluationsAPIService
	evaluationId                        string
	capabilityEvaluationCriterionCreate *CapabilityEvaluationCriterionCreate
}

func (r CapabilityEvaluationsAPICreateEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaPostRequest) CapabilityEvaluationCriterionCreate(capabilityEvaluationCriterionCreate CapabilityEvaluationCriterionCreate) CapabilityEvaluationsAPICreateEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaPostRequest {
	r.capabilityEvaluationCriterionCreate = &capabilityEvaluationCriterionCreate
	return r
}

func (r CapabilityEvaluationsAPICreateEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaPostRequest) Execute() (*CapabilityEvaluationCriterionRepresentation, *http.Response, error) {
	return r.ApiService.CreateEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaPostExecute(r)
}

/*
CreateEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaPost Create Evaluation Criterion

Create a new criterion for an evaluation dataset by ID.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param evaluationId
	@return CapabilityEvaluationsAPICreateEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaPostRequest
*/
func (a *CapabilityEvaluationsAPIService) CreateEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaPost(ctx context.Context, evaluationId string) CapabilityEvaluationsAPICreateEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaPostRequest {
	return CapabilityEvaluationsAPICreateEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaPostRequest{
		ApiService:   a,
		ctx:          ctx,
		evaluationId: evaluationId,
	}
}

// Execute executes the request
//
//	@return CapabilityEvaluationCriterionRepresentation
func (a *CapabilityEvaluationsAPIService) CreateEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaPostExecute(r CapabilityEvaluationsAPICreateEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaPostRequest) (*CapabilityEvaluationCriterionRepresentation, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CapabilityEvaluationCriterionRepresentation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CapabilityEvaluationsAPIService.CreateEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/capability-evaluations/{evaluation_id}/criteria"
	localVarPath = strings.Replace(localVarPath, "{"+"evaluation_id"+"}", url.PathEscape(parameterValueToString(r.evaluationId, "evaluationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.capabilityEvaluationCriterionCreate == nil {
		return localVarReturnValue, nil, reportError("capabilityEvaluationCriterionCreate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.capabilityEvaluationCriterionCreate
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CapabilityEvaluationsAPICreateEvaluationV1CapabilityEvaluationsPostRequest struct {
	ctx                        context.Context
	ApiService                 *CapabilityEvaluationsAPIService
	capabilityEvaluationCreate *CapabilityEvaluationCreate
}

func (r CapabilityEvaluationsAPICreateEvaluationV1CapabilityEvaluationsPostRequest) CapabilityEvaluationCreate(capabilityEvaluationCreate CapabilityEvaluationCreate) CapabilityEvaluationsAPICreateEvaluationV1CapabilityEvaluationsPostRequest {
	r.capabilityEvaluationCreate = &capabilityEvaluationCreate
	return r
}

func (r CapabilityEvaluationsAPICreateEvaluationV1CapabilityEvaluationsPostRequest) Execute() (*CapabilityEvaluationRepresentation, *http.Response, error) {
	return r.ApiService.CreateEvaluationV1CapabilityEvaluationsPostExecute(r)
}

/*
CreateEvaluationV1CapabilityEvaluationsPost Create Evaluation

Create a new evaluation.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CapabilityEvaluationsAPICreateEvaluationV1CapabilityEvaluationsPostRequest
*/
func (a *CapabilityEvaluationsAPIService) CreateEvaluationV1CapabilityEvaluationsPost(ctx context.Context) CapabilityEvaluationsAPICreateEvaluationV1CapabilityEvaluationsPostRequest {
	return CapabilityEvaluationsAPICreateEvaluationV1CapabilityEvaluationsPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CapabilityEvaluationRepresentation
func (a *CapabilityEvaluationsAPIService) CreateEvaluationV1CapabilityEvaluationsPostExecute(r CapabilityEvaluationsAPICreateEvaluationV1CapabilityEvaluationsPostRequest) (*CapabilityEvaluationRepresentation, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CapabilityEvaluationRepresentation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CapabilityEvaluationsAPIService.CreateEvaluationV1CapabilityEvaluationsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/capability-evaluations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.capabilityEvaluationCreate == nil {
		return localVarReturnValue, nil, reportError("capabilityEvaluationCreate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.capabilityEvaluationCreate
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CapabilityEvaluationsAPIDeleteEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaCriterionIdDeleteRequest struct {
	ctx          context.Context
	ApiService   *CapabilityEvaluationsAPIService
	evaluationId string
	criterionId  string
}

func (r CapabilityEvaluationsAPIDeleteEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaCriterionIdDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaCriterionIdDeleteExecute(r)
}

/*
DeleteEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaCriterionIdDelete Delete Evaluation Criterion

Delete a specific criterion for an evaluation dataset by ID.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param evaluationId
	@param criterionId
	@return CapabilityEvaluationsAPIDeleteEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaCriterionIdDeleteRequest
*/
func (a *CapabilityEvaluationsAPIService) DeleteEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaCriterionIdDelete(ctx context.Context, evaluationId string, criterionId string) CapabilityEvaluationsAPIDeleteEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaCriterionIdDeleteRequest {
	return CapabilityEvaluationsAPIDeleteEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaCriterionIdDeleteRequest{
		ApiService:   a,
		ctx:          ctx,
		evaluationId: evaluationId,
		criterionId:  criterionId,
	}
}

// Execute executes the request
func (a *CapabilityEvaluationsAPIService) DeleteEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaCriterionIdDeleteExecute(r CapabilityEvaluationsAPIDeleteEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaCriterionIdDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CapabilityEvaluationsAPIService.DeleteEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaCriterionIdDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/capability-evaluations/{evaluation_id}/criteria/{criterion_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"evaluation_id"+"}", url.PathEscape(parameterValueToString(r.evaluationId, "evaluationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"criterion_id"+"}", url.PathEscape(parameterValueToString(r.criterionId, "criterionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type CapabilityEvaluationsAPIDeleteEvaluationV1CapabilityEvaluationsEvaluationIdDeleteRequest struct {
	ctx          context.Context
	ApiService   *CapabilityEvaluationsAPIService
	evaluationId string
}

func (r CapabilityEvaluationsAPIDeleteEvaluationV1CapabilityEvaluationsEvaluationIdDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteEvaluationV1CapabilityEvaluationsEvaluationIdDeleteExecute(r)
}

/*
DeleteEvaluationV1CapabilityEvaluationsEvaluationIdDelete Delete Evaluation

Delete an evaluation dataset by ID.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param evaluationId
	@return CapabilityEvaluationsAPIDeleteEvaluationV1CapabilityEvaluationsEvaluationIdDeleteRequest
*/
func (a *CapabilityEvaluationsAPIService) DeleteEvaluationV1CapabilityEvaluationsEvaluationIdDelete(ctx context.Context, evaluationId string) CapabilityEvaluationsAPIDeleteEvaluationV1CapabilityEvaluationsEvaluationIdDeleteRequest {
	return CapabilityEvaluationsAPIDeleteEvaluationV1CapabilityEvaluationsEvaluationIdDeleteRequest{
		ApiService:   a,
		ctx:          ctx,
		evaluationId: evaluationId,
	}
}

// Execute executes the request
func (a *CapabilityEvaluationsAPIService) DeleteEvaluationV1CapabilityEvaluationsEvaluationIdDeleteExecute(r CapabilityEvaluationsAPIDeleteEvaluationV1CapabilityEvaluationsEvaluationIdDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CapabilityEvaluationsAPIService.DeleteEvaluationV1CapabilityEvaluationsEvaluationIdDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/capability-evaluations/{evaluation_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"evaluation_id"+"}", url.PathEscape(parameterValueToString(r.evaluationId, "evaluationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type CapabilityEvaluationsAPIExecuteEvaluationV1CapabilityEvaluationsEvaluationIdExecutionsPostRequest struct {
	ctx                       context.Context
	ApiService                *CapabilityEvaluationsAPIService
	evaluationId              string
	evaluationExecutionCreate *EvaluationExecutionCreate
}

func (r CapabilityEvaluationsAPIExecuteEvaluationV1CapabilityEvaluationsEvaluationIdExecutionsPostRequest) EvaluationExecutionCreate(evaluationExecutionCreate EvaluationExecutionCreate) CapabilityEvaluationsAPIExecuteEvaluationV1CapabilityEvaluationsEvaluationIdExecutionsPostRequest {
	r.evaluationExecutionCreate = &evaluationExecutionCreate
	return r
}

func (r CapabilityEvaluationsAPIExecuteEvaluationV1CapabilityEvaluationsEvaluationIdExecutionsPostRequest) Execute() (*EvaluationExecutionRepresentation, *http.Response, error) {
	return r.ApiService.ExecuteEvaluationV1CapabilityEvaluationsEvaluationIdExecutionsPostExecute(r)
}

/*
ExecuteEvaluationV1CapabilityEvaluationsEvaluationIdExecutionsPost Execute Evaluation

Start an evaluation execution.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param evaluationId
	@return CapabilityEvaluationsAPIExecuteEvaluationV1CapabilityEvaluationsEvaluationIdExecutionsPostRequest
*/
func (a *CapabilityEvaluationsAPIService) ExecuteEvaluationV1CapabilityEvaluationsEvaluationIdExecutionsPost(ctx context.Context, evaluationId string) CapabilityEvaluationsAPIExecuteEvaluationV1CapabilityEvaluationsEvaluationIdExecutionsPostRequest {
	return CapabilityEvaluationsAPIExecuteEvaluationV1CapabilityEvaluationsEvaluationIdExecutionsPostRequest{
		ApiService:   a,
		ctx:          ctx,
		evaluationId: evaluationId,
	}
}

// Execute executes the request
//
//	@return EvaluationExecutionRepresentation
func (a *CapabilityEvaluationsAPIService) ExecuteEvaluationV1CapabilityEvaluationsEvaluationIdExecutionsPostExecute(r CapabilityEvaluationsAPIExecuteEvaluationV1CapabilityEvaluationsEvaluationIdExecutionsPostRequest) (*EvaluationExecutionRepresentation, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *EvaluationExecutionRepresentation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CapabilityEvaluationsAPIService.ExecuteEvaluationV1CapabilityEvaluationsEvaluationIdExecutionsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/capability-evaluations/{evaluation_id}/executions"
	localVarPath = strings.Replace(localVarPath, "{"+"evaluation_id"+"}", url.PathEscape(parameterValueToString(r.evaluationId, "evaluationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.evaluationExecutionCreate == nil {
		return localVarReturnValue, nil, reportError("evaluationExecutionCreate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.evaluationExecutionCreate
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CapabilityEvaluationsAPIGetEvaluationCriteriaV1CapabilityEvaluationsEvaluationIdCriteriaGetRequest struct {
	ctx          context.Context
	ApiService   *CapabilityEvaluationsAPIService
	evaluationId string
	page         *int32
	size         *int32
	sort         *string
	filter       *string
}

func (r CapabilityEvaluationsAPIGetEvaluationCriteriaV1CapabilityEvaluationsEvaluationIdCriteriaGetRequest) Page(page int32) CapabilityEvaluationsAPIGetEvaluationCriteriaV1CapabilityEvaluationsEvaluationIdCriteriaGetRequest {
	r.page = &page
	return r
}

func (r CapabilityEvaluationsAPIGetEvaluationCriteriaV1CapabilityEvaluationsEvaluationIdCriteriaGetRequest) Size(size int32) CapabilityEvaluationsAPIGetEvaluationCriteriaV1CapabilityEvaluationsEvaluationIdCriteriaGetRequest {
	r.size = &size
	return r
}

func (r CapabilityEvaluationsAPIGetEvaluationCriteriaV1CapabilityEvaluationsEvaluationIdCriteriaGetRequest) Sort(sort string) CapabilityEvaluationsAPIGetEvaluationCriteriaV1CapabilityEvaluationsEvaluationIdCriteriaGetRequest {
	r.sort = &sort
	return r
}

func (r CapabilityEvaluationsAPIGetEvaluationCriteriaV1CapabilityEvaluationsEvaluationIdCriteriaGetRequest) Filter(filter string) CapabilityEvaluationsAPIGetEvaluationCriteriaV1CapabilityEvaluationsEvaluationIdCriteriaGetRequest {
	r.filter = &filter
	return r
}

func (r CapabilityEvaluationsAPIGetEvaluationCriteriaV1CapabilityEvaluationsEvaluationIdCriteriaGetRequest) Execute() (*PagedResponseModelCapabilityEvaluationCriterionRepresentation, *http.Response, error) {
	return r.ApiService.GetEvaluationCriteriaV1CapabilityEvaluationsEvaluationIdCriteriaGetExecute(r)
}

/*
GetEvaluationCriteriaV1CapabilityEvaluationsEvaluationIdCriteriaGet Get Evaluation Criteria

Get all criteria for an evaluation dataset by ID.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param evaluationId
	@return CapabilityEvaluationsAPIGetEvaluationCriteriaV1CapabilityEvaluationsEvaluationIdCriteriaGetRequest
*/
func (a *CapabilityEvaluationsAPIService) GetEvaluationCriteriaV1CapabilityEvaluationsEvaluationIdCriteriaGet(ctx context.Context, evaluationId string) CapabilityEvaluationsAPIGetEvaluationCriteriaV1CapabilityEvaluationsEvaluationIdCriteriaGetRequest {
	return CapabilityEvaluationsAPIGetEvaluationCriteriaV1CapabilityEvaluationsEvaluationIdCriteriaGetRequest{
		ApiService:   a,
		ctx:          ctx,
		evaluationId: evaluationId,
	}
}

// Execute executes the request
//
//	@return PagedResponseModelCapabilityEvaluationCriterionRepresentation
func (a *CapabilityEvaluationsAPIService) GetEvaluationCriteriaV1CapabilityEvaluationsEvaluationIdCriteriaGetExecute(r CapabilityEvaluationsAPIGetEvaluationCriteriaV1CapabilityEvaluationsEvaluationIdCriteriaGetRequest) (*PagedResponseModelCapabilityEvaluationCriterionRepresentation, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PagedResponseModelCapabilityEvaluationCriterionRepresentation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CapabilityEvaluationsAPIService.GetEvaluationCriteriaV1CapabilityEvaluationsEvaluationIdCriteriaGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/capability-evaluations/{evaluation_id}/criteria"
	localVarPath = strings.Replace(localVarPath, "{"+"evaluation_id"+"}", url.PathEscape(parameterValueToString(r.evaluationId, "evaluationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	} else {
		var defaultValue int32 = 10
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", defaultValue, "form", "")
		r.size = &defaultValue
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	} else {
		var defaultValue string = "id"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", defaultValue, "form", "")
		r.sort = &defaultValue
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CapabilityEvaluationsAPIGetEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaCriterionIdGetRequest struct {
	ctx          context.Context
	ApiService   *CapabilityEvaluationsAPIService
	evaluationId string
	criterionId  string
}

func (r CapabilityEvaluationsAPIGetEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaCriterionIdGetRequest) Execute() (*CapabilityEvaluationCriterionRepresentation, *http.Response, error) {
	return r.ApiService.GetEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaCriterionIdGetExecute(r)
}

/*
GetEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaCriterionIdGet Get Evaluation Criterion

Get a specific criterion for an evaluation dataset by ID.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param evaluationId
	@param criterionId
	@return CapabilityEvaluationsAPIGetEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaCriterionIdGetRequest
*/
func (a *CapabilityEvaluationsAPIService) GetEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaCriterionIdGet(ctx context.Context, evaluationId string, criterionId string) CapabilityEvaluationsAPIGetEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaCriterionIdGetRequest {
	return CapabilityEvaluationsAPIGetEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaCriterionIdGetRequest{
		ApiService:   a,
		ctx:          ctx,
		evaluationId: evaluationId,
		criterionId:  criterionId,
	}
}

// Execute executes the request
//
//	@return CapabilityEvaluationCriterionRepresentation
func (a *CapabilityEvaluationsAPIService) GetEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaCriterionIdGetExecute(r CapabilityEvaluationsAPIGetEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaCriterionIdGetRequest) (*CapabilityEvaluationCriterionRepresentation, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CapabilityEvaluationCriterionRepresentation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CapabilityEvaluationsAPIService.GetEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaCriterionIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/capability-evaluations/{evaluation_id}/criteria/{criterion_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"evaluation_id"+"}", url.PathEscape(parameterValueToString(r.evaluationId, "evaluationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"criterion_id"+"}", url.PathEscape(parameterValueToString(r.criterionId, "criterionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CapabilityEvaluationsAPIGetEvaluationExecutionCriteriaExecutionsV1CapabilityEvaluationsEvaluationIdExecutionsEvaluationExecutionIdCriteriaExecutionsGetRequest struct {
	ctx                   context.Context
	ApiService            *CapabilityEvaluationsAPIService
	evaluationId          string
	evaluationExecutionId string
	page                  *int32
	size                  *int32
	sort                  *string
	filter                *string
}

func (r CapabilityEvaluationsAPIGetEvaluationExecutionCriteriaExecutionsV1CapabilityEvaluationsEvaluationIdExecutionsEvaluationExecutionIdCriteriaExecutionsGetRequest) Page(page int32) CapabilityEvaluationsAPIGetEvaluationExecutionCriteriaExecutionsV1CapabilityEvaluationsEvaluationIdExecutionsEvaluationExecutionIdCriteriaExecutionsGetRequest {
	r.page = &page
	return r
}

func (r CapabilityEvaluationsAPIGetEvaluationExecutionCriteriaExecutionsV1CapabilityEvaluationsEvaluationIdExecutionsEvaluationExecutionIdCriteriaExecutionsGetRequest) Size(size int32) CapabilityEvaluationsAPIGetEvaluationExecutionCriteriaExecutionsV1CapabilityEvaluationsEvaluationIdExecutionsEvaluationExecutionIdCriteriaExecutionsGetRequest {
	r.size = &size
	return r
}

func (r CapabilityEvaluationsAPIGetEvaluationExecutionCriteriaExecutionsV1CapabilityEvaluationsEvaluationIdExecutionsEvaluationExecutionIdCriteriaExecutionsGetRequest) Sort(sort string) CapabilityEvaluationsAPIGetEvaluationExecutionCriteriaExecutionsV1CapabilityEvaluationsEvaluationIdExecutionsEvaluationExecutionIdCriteriaExecutionsGetRequest {
	r.sort = &sort
	return r
}

func (r CapabilityEvaluationsAPIGetEvaluationExecutionCriteriaExecutionsV1CapabilityEvaluationsEvaluationIdExecutionsEvaluationExecutionIdCriteriaExecutionsGetRequest) Filter(filter string) CapabilityEvaluationsAPIGetEvaluationExecutionCriteriaExecutionsV1CapabilityEvaluationsEvaluationIdExecutionsEvaluationExecutionIdCriteriaExecutionsGetRequest {
	r.filter = &filter
	return r
}

func (r CapabilityEvaluationsAPIGetEvaluationExecutionCriteriaExecutionsV1CapabilityEvaluationsEvaluationIdExecutionsEvaluationExecutionIdCriteriaExecutionsGetRequest) Execute() (*PagedResponseModelEvaluationCriterionExecutionRepresentation, *http.Response, error) {
	return r.ApiService.GetEvaluationExecutionCriteriaExecutionsV1CapabilityEvaluationsEvaluationIdExecutionsEvaluationExecutionIdCriteriaExecutionsGetExecute(r)
}

/*
GetEvaluationExecutionCriteriaExecutionsV1CapabilityEvaluationsEvaluationIdExecutionsEvaluationExecutionIdCriteriaExecutionsGet Get Evaluation Execution Criteria Executions

Get all criteria executions for a specific evaluation execution.

Args:

	request: The HTTP request object.
	evaluation_id: The ID of the evaluation.
	evaluation_execution_id: The ID of the evaluation execution to retrieve criteria executions for.
	page_params: Pagination parameters.
	service: The evaluation execution service to use.

Returns:

	   A list of criteria executions for the specified evaluation execution.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param evaluationId
	@param evaluationExecutionId
	@return CapabilityEvaluationsAPIGetEvaluationExecutionCriteriaExecutionsV1CapabilityEvaluationsEvaluationIdExecutionsEvaluationExecutionIdCriteriaExecutionsGetRequest
*/
func (a *CapabilityEvaluationsAPIService) GetEvaluationExecutionCriteriaExecutionsV1CapabilityEvaluationsEvaluationIdExecutionsEvaluationExecutionIdCriteriaExecutionsGet(ctx context.Context, evaluationId string, evaluationExecutionId string) CapabilityEvaluationsAPIGetEvaluationExecutionCriteriaExecutionsV1CapabilityEvaluationsEvaluationIdExecutionsEvaluationExecutionIdCriteriaExecutionsGetRequest {
	return CapabilityEvaluationsAPIGetEvaluationExecutionCriteriaExecutionsV1CapabilityEvaluationsEvaluationIdExecutionsEvaluationExecutionIdCriteriaExecutionsGetRequest{
		ApiService:            a,
		ctx:                   ctx,
		evaluationId:          evaluationId,
		evaluationExecutionId: evaluationExecutionId,
	}
}

// Execute executes the request
//
//	@return PagedResponseModelEvaluationCriterionExecutionRepresentation
func (a *CapabilityEvaluationsAPIService) GetEvaluationExecutionCriteriaExecutionsV1CapabilityEvaluationsEvaluationIdExecutionsEvaluationExecutionIdCriteriaExecutionsGetExecute(r CapabilityEvaluationsAPIGetEvaluationExecutionCriteriaExecutionsV1CapabilityEvaluationsEvaluationIdExecutionsEvaluationExecutionIdCriteriaExecutionsGetRequest) (*PagedResponseModelEvaluationCriterionExecutionRepresentation, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PagedResponseModelEvaluationCriterionExecutionRepresentation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CapabilityEvaluationsAPIService.GetEvaluationExecutionCriteriaExecutionsV1CapabilityEvaluationsEvaluationIdExecutionsEvaluationExecutionIdCriteriaExecutionsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/capability-evaluations/{evaluation_id}/executions/{evaluation_execution_id}/criteria-executions"
	localVarPath = strings.Replace(localVarPath, "{"+"evaluation_id"+"}", url.PathEscape(parameterValueToString(r.evaluationId, "evaluationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"evaluation_execution_id"+"}", url.PathEscape(parameterValueToString(r.evaluationExecutionId, "evaluationExecutionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	} else {
		var defaultValue int32 = 10
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", defaultValue, "form", "")
		r.size = &defaultValue
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	} else {
		var defaultValue string = "id"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", defaultValue, "form", "")
		r.sort = &defaultValue
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CapabilityEvaluationsAPIGetEvaluationExecutionV1CapabilityEvaluationsEvaluationIdExecutionsEvaluationExecutionIdGetRequest struct {
	ctx                   context.Context
	ApiService            *CapabilityEvaluationsAPIService
	evaluationId          string
	evaluationExecutionId string
}

func (r CapabilityEvaluationsAPIGetEvaluationExecutionV1CapabilityEvaluationsEvaluationIdExecutionsEvaluationExecutionIdGetRequest) Execute() (*EvaluationExecutionRepresentation, *http.Response, error) {
	return r.ApiService.GetEvaluationExecutionV1CapabilityEvaluationsEvaluationIdExecutionsEvaluationExecutionIdGetExecute(r)
}

/*
GetEvaluationExecutionV1CapabilityEvaluationsEvaluationIdExecutionsEvaluationExecutionIdGet Get Evaluation Execution

Get an evaluation execution by ID.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param evaluationId
	@param evaluationExecutionId
	@return CapabilityEvaluationsAPIGetEvaluationExecutionV1CapabilityEvaluationsEvaluationIdExecutionsEvaluationExecutionIdGetRequest
*/
func (a *CapabilityEvaluationsAPIService) GetEvaluationExecutionV1CapabilityEvaluationsEvaluationIdExecutionsEvaluationExecutionIdGet(ctx context.Context, evaluationId string, evaluationExecutionId string) CapabilityEvaluationsAPIGetEvaluationExecutionV1CapabilityEvaluationsEvaluationIdExecutionsEvaluationExecutionIdGetRequest {
	return CapabilityEvaluationsAPIGetEvaluationExecutionV1CapabilityEvaluationsEvaluationIdExecutionsEvaluationExecutionIdGetRequest{
		ApiService:            a,
		ctx:                   ctx,
		evaluationId:          evaluationId,
		evaluationExecutionId: evaluationExecutionId,
	}
}

// Execute executes the request
//
//	@return EvaluationExecutionRepresentation
func (a *CapabilityEvaluationsAPIService) GetEvaluationExecutionV1CapabilityEvaluationsEvaluationIdExecutionsEvaluationExecutionIdGetExecute(r CapabilityEvaluationsAPIGetEvaluationExecutionV1CapabilityEvaluationsEvaluationIdExecutionsEvaluationExecutionIdGetRequest) (*EvaluationExecutionRepresentation, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *EvaluationExecutionRepresentation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CapabilityEvaluationsAPIService.GetEvaluationExecutionV1CapabilityEvaluationsEvaluationIdExecutionsEvaluationExecutionIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/capability-evaluations/{evaluation_id}/executions/{evaluation_execution_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"evaluation_id"+"}", url.PathEscape(parameterValueToString(r.evaluationId, "evaluationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"evaluation_execution_id"+"}", url.PathEscape(parameterValueToString(r.evaluationExecutionId, "evaluationExecutionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CapabilityEvaluationsAPIGetEvaluationExecutionsV1CapabilityEvaluationsEvaluationIdExecutionsGetRequest struct {
	ctx          context.Context
	ApiService   *CapabilityEvaluationsAPIService
	evaluationId string
	capabilityId *string
	page         *int32
	size         *int32
	sort         *string
	filter       *string
}

func (r CapabilityEvaluationsAPIGetEvaluationExecutionsV1CapabilityEvaluationsEvaluationIdExecutionsGetRequest) CapabilityId(capabilityId string) CapabilityEvaluationsAPIGetEvaluationExecutionsV1CapabilityEvaluationsEvaluationIdExecutionsGetRequest {
	r.capabilityId = &capabilityId
	return r
}

func (r CapabilityEvaluationsAPIGetEvaluationExecutionsV1CapabilityEvaluationsEvaluationIdExecutionsGetRequest) Page(page int32) CapabilityEvaluationsAPIGetEvaluationExecutionsV1CapabilityEvaluationsEvaluationIdExecutionsGetRequest {
	r.page = &page
	return r
}

func (r CapabilityEvaluationsAPIGetEvaluationExecutionsV1CapabilityEvaluationsEvaluationIdExecutionsGetRequest) Size(size int32) CapabilityEvaluationsAPIGetEvaluationExecutionsV1CapabilityEvaluationsEvaluationIdExecutionsGetRequest {
	r.size = &size
	return r
}

func (r CapabilityEvaluationsAPIGetEvaluationExecutionsV1CapabilityEvaluationsEvaluationIdExecutionsGetRequest) Sort(sort string) CapabilityEvaluationsAPIGetEvaluationExecutionsV1CapabilityEvaluationsEvaluationIdExecutionsGetRequest {
	r.sort = &sort
	return r
}

func (r CapabilityEvaluationsAPIGetEvaluationExecutionsV1CapabilityEvaluationsEvaluationIdExecutionsGetRequest) Filter(filter string) CapabilityEvaluationsAPIGetEvaluationExecutionsV1CapabilityEvaluationsEvaluationIdExecutionsGetRequest {
	r.filter = &filter
	return r
}

func (r CapabilityEvaluationsAPIGetEvaluationExecutionsV1CapabilityEvaluationsEvaluationIdExecutionsGetRequest) Execute() (*PagedResponseModelEvaluationExecutionRepresentation, *http.Response, error) {
	return r.ApiService.GetEvaluationExecutionsV1CapabilityEvaluationsEvaluationIdExecutionsGetExecute(r)
}

/*
GetEvaluationExecutionsV1CapabilityEvaluationsEvaluationIdExecutionsGet Get Evaluation Executions

Get an evaluation execution by ID.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param evaluationId
	@return CapabilityEvaluationsAPIGetEvaluationExecutionsV1CapabilityEvaluationsEvaluationIdExecutionsGetRequest
*/
func (a *CapabilityEvaluationsAPIService) GetEvaluationExecutionsV1CapabilityEvaluationsEvaluationIdExecutionsGet(ctx context.Context, evaluationId string) CapabilityEvaluationsAPIGetEvaluationExecutionsV1CapabilityEvaluationsEvaluationIdExecutionsGetRequest {
	return CapabilityEvaluationsAPIGetEvaluationExecutionsV1CapabilityEvaluationsEvaluationIdExecutionsGetRequest{
		ApiService:   a,
		ctx:          ctx,
		evaluationId: evaluationId,
	}
}

// Execute executes the request
//
//	@return PagedResponseModelEvaluationExecutionRepresentation
func (a *CapabilityEvaluationsAPIService) GetEvaluationExecutionsV1CapabilityEvaluationsEvaluationIdExecutionsGetExecute(r CapabilityEvaluationsAPIGetEvaluationExecutionsV1CapabilityEvaluationsEvaluationIdExecutionsGetRequest) (*PagedResponseModelEvaluationExecutionRepresentation, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PagedResponseModelEvaluationExecutionRepresentation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CapabilityEvaluationsAPIService.GetEvaluationExecutionsV1CapabilityEvaluationsEvaluationIdExecutionsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/capability-evaluations/{evaluation_id}/executions"
	localVarPath = strings.Replace(localVarPath, "{"+"evaluation_id"+"}", url.PathEscape(parameterValueToString(r.evaluationId, "evaluationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.capabilityId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "capability_id", r.capabilityId, "form", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	} else {
		var defaultValue int32 = 10
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", defaultValue, "form", "")
		r.size = &defaultValue
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	} else {
		var defaultValue string = "id"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", defaultValue, "form", "")
		r.sort = &defaultValue
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CapabilityEvaluationsAPIGetEvaluationV1CapabilityEvaluationsEvaluationIdGetRequest struct {
	ctx          context.Context
	ApiService   *CapabilityEvaluationsAPIService
	evaluationId string
}

func (r CapabilityEvaluationsAPIGetEvaluationV1CapabilityEvaluationsEvaluationIdGetRequest) Execute() (*CapabilityEvaluationRepresentation, *http.Response, error) {
	return r.ApiService.GetEvaluationV1CapabilityEvaluationsEvaluationIdGetExecute(r)
}

/*
GetEvaluationV1CapabilityEvaluationsEvaluationIdGet Get Evaluation

Get an evaluation dataset by ID.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param evaluationId
	@return CapabilityEvaluationsAPIGetEvaluationV1CapabilityEvaluationsEvaluationIdGetRequest
*/
func (a *CapabilityEvaluationsAPIService) GetEvaluationV1CapabilityEvaluationsEvaluationIdGet(ctx context.Context, evaluationId string) CapabilityEvaluationsAPIGetEvaluationV1CapabilityEvaluationsEvaluationIdGetRequest {
	return CapabilityEvaluationsAPIGetEvaluationV1CapabilityEvaluationsEvaluationIdGetRequest{
		ApiService:   a,
		ctx:          ctx,
		evaluationId: evaluationId,
	}
}

// Execute executes the request
//
//	@return CapabilityEvaluationRepresentation
func (a *CapabilityEvaluationsAPIService) GetEvaluationV1CapabilityEvaluationsEvaluationIdGetExecute(r CapabilityEvaluationsAPIGetEvaluationV1CapabilityEvaluationsEvaluationIdGetRequest) (*CapabilityEvaluationRepresentation, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CapabilityEvaluationRepresentation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CapabilityEvaluationsAPIService.GetEvaluationV1CapabilityEvaluationsEvaluationIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/capability-evaluations/{evaluation_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"evaluation_id"+"}", url.PathEscape(parameterValueToString(r.evaluationId, "evaluationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CapabilityEvaluationsAPIListEvaluationsV1CapabilityEvaluationsGetRequest struct {
	ctx        context.Context
	ApiService *CapabilityEvaluationsAPIService
	page       *int32
	size       *int32
	sort       *string
	filter     *string
}

func (r CapabilityEvaluationsAPIListEvaluationsV1CapabilityEvaluationsGetRequest) Page(page int32) CapabilityEvaluationsAPIListEvaluationsV1CapabilityEvaluationsGetRequest {
	r.page = &page
	return r
}

func (r CapabilityEvaluationsAPIListEvaluationsV1CapabilityEvaluationsGetRequest) Size(size int32) CapabilityEvaluationsAPIListEvaluationsV1CapabilityEvaluationsGetRequest {
	r.size = &size
	return r
}

func (r CapabilityEvaluationsAPIListEvaluationsV1CapabilityEvaluationsGetRequest) Sort(sort string) CapabilityEvaluationsAPIListEvaluationsV1CapabilityEvaluationsGetRequest {
	r.sort = &sort
	return r
}

func (r CapabilityEvaluationsAPIListEvaluationsV1CapabilityEvaluationsGetRequest) Filter(filter string) CapabilityEvaluationsAPIListEvaluationsV1CapabilityEvaluationsGetRequest {
	r.filter = &filter
	return r
}

func (r CapabilityEvaluationsAPIListEvaluationsV1CapabilityEvaluationsGetRequest) Execute() (*PagedResponseModelCapabilityEvaluationRepresentation, *http.Response, error) {
	return r.ApiService.ListEvaluationsV1CapabilityEvaluationsGetExecute(r)
}

/*
ListEvaluationsV1CapabilityEvaluationsGet List Evaluations

Get all evaluations.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CapabilityEvaluationsAPIListEvaluationsV1CapabilityEvaluationsGetRequest
*/
func (a *CapabilityEvaluationsAPIService) ListEvaluationsV1CapabilityEvaluationsGet(ctx context.Context) CapabilityEvaluationsAPIListEvaluationsV1CapabilityEvaluationsGetRequest {
	return CapabilityEvaluationsAPIListEvaluationsV1CapabilityEvaluationsGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PagedResponseModelCapabilityEvaluationRepresentation
func (a *CapabilityEvaluationsAPIService) ListEvaluationsV1CapabilityEvaluationsGetExecute(r CapabilityEvaluationsAPIListEvaluationsV1CapabilityEvaluationsGetRequest) (*PagedResponseModelCapabilityEvaluationRepresentation, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PagedResponseModelCapabilityEvaluationRepresentation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CapabilityEvaluationsAPIService.ListEvaluationsV1CapabilityEvaluationsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/capability-evaluations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	} else {
		var defaultValue int32 = 10
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", defaultValue, "form", "")
		r.size = &defaultValue
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	} else {
		var defaultValue string = "id"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", defaultValue, "form", "")
		r.sort = &defaultValue
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CapabilityEvaluationsAPIUpdateEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaCriterionIdPutRequest struct {
	ctx                                 context.Context
	ApiService                          *CapabilityEvaluationsAPIService
	evaluationId                        string
	criterionId                         string
	capabilityEvaluationCriterionCreate *CapabilityEvaluationCriterionCreate
}

func (r CapabilityEvaluationsAPIUpdateEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaCriterionIdPutRequest) CapabilityEvaluationCriterionCreate(capabilityEvaluationCriterionCreate CapabilityEvaluationCriterionCreate) CapabilityEvaluationsAPIUpdateEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaCriterionIdPutRequest {
	r.capabilityEvaluationCriterionCreate = &capabilityEvaluationCriterionCreate
	return r
}

func (r CapabilityEvaluationsAPIUpdateEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaCriterionIdPutRequest) Execute() (*CapabilityEvaluationCriterionRepresentation, *http.Response, error) {
	return r.ApiService.UpdateEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaCriterionIdPutExecute(r)
}

/*
UpdateEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaCriterionIdPut Update Evaluation Criterion

Update a specific criterion for an evaluation dataset by ID.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param evaluationId
	@param criterionId
	@return CapabilityEvaluationsAPIUpdateEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaCriterionIdPutRequest
*/
func (a *CapabilityEvaluationsAPIService) UpdateEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaCriterionIdPut(ctx context.Context, evaluationId string, criterionId string) CapabilityEvaluationsAPIUpdateEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaCriterionIdPutRequest {
	return CapabilityEvaluationsAPIUpdateEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaCriterionIdPutRequest{
		ApiService:   a,
		ctx:          ctx,
		evaluationId: evaluationId,
		criterionId:  criterionId,
	}
}

// Execute executes the request
//
//	@return CapabilityEvaluationCriterionRepresentation
func (a *CapabilityEvaluationsAPIService) UpdateEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaCriterionIdPutExecute(r CapabilityEvaluationsAPIUpdateEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaCriterionIdPutRequest) (*CapabilityEvaluationCriterionRepresentation, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CapabilityEvaluationCriterionRepresentation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CapabilityEvaluationsAPIService.UpdateEvaluationCriterionV1CapabilityEvaluationsEvaluationIdCriteriaCriterionIdPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/capability-evaluations/{evaluation_id}/criteria/{criterion_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"evaluation_id"+"}", url.PathEscape(parameterValueToString(r.evaluationId, "evaluationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"criterion_id"+"}", url.PathEscape(parameterValueToString(r.criterionId, "criterionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.capabilityEvaluationCriterionCreate == nil {
		return localVarReturnValue, nil, reportError("capabilityEvaluationCriterionCreate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.capabilityEvaluationCriterionCreate
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CapabilityEvaluationsAPIUpdateEvaluationV1CapabilityEvaluationsEvaluationIdPutRequest struct {
	ctx                        context.Context
	ApiService                 *CapabilityEvaluationsAPIService
	evaluationId               string
	capabilityEvaluationUpdate *CapabilityEvaluationUpdate
}

func (r CapabilityEvaluationsAPIUpdateEvaluationV1CapabilityEvaluationsEvaluationIdPutRequest) CapabilityEvaluationUpdate(capabilityEvaluationUpdate CapabilityEvaluationUpdate) CapabilityEvaluationsAPIUpdateEvaluationV1CapabilityEvaluationsEvaluationIdPutRequest {
	r.capabilityEvaluationUpdate = &capabilityEvaluationUpdate
	return r
}

func (r CapabilityEvaluationsAPIUpdateEvaluationV1CapabilityEvaluationsEvaluationIdPutRequest) Execute() (*CapabilityEvaluationRepresentation, *http.Response, error) {
	return r.ApiService.UpdateEvaluationV1CapabilityEvaluationsEvaluationIdPutExecute(r)
}

/*
UpdateEvaluationV1CapabilityEvaluationsEvaluationIdPut Update Evaluation

Update an evaluation.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param evaluationId
	@return CapabilityEvaluationsAPIUpdateEvaluationV1CapabilityEvaluationsEvaluationIdPutRequest
*/
func (a *CapabilityEvaluationsAPIService) UpdateEvaluationV1CapabilityEvaluationsEvaluationIdPut(ctx context.Context, evaluationId string) CapabilityEvaluationsAPIUpdateEvaluationV1CapabilityEvaluationsEvaluationIdPutRequest {
	return CapabilityEvaluationsAPIUpdateEvaluationV1CapabilityEvaluationsEvaluationIdPutRequest{
		ApiService:   a,
		ctx:          ctx,
		evaluationId: evaluationId,
	}
}

// Execute executes the request
//
//	@return CapabilityEvaluationRepresentation
func (a *CapabilityEvaluationsAPIService) UpdateEvaluationV1CapabilityEvaluationsEvaluationIdPutExecute(r CapabilityEvaluationsAPIUpdateEvaluationV1CapabilityEvaluationsEvaluationIdPutRequest) (*CapabilityEvaluationRepresentation, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CapabilityEvaluationRepresentation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CapabilityEvaluationsAPIService.UpdateEvaluationV1CapabilityEvaluationsEvaluationIdPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/capability-evaluations/{evaluation_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"evaluation_id"+"}", url.PathEscape(parameterValueToString(r.evaluationId, "evaluationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.capabilityEvaluationUpdate == nil {
		return localVarReturnValue, nil, reportError("capabilityEvaluationUpdate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.capabilityEvaluationUpdate
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
