/*
Corax API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v2.127.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// ModelDiscoveryAPIService ModelDiscoveryAPI service
type ModelDiscoveryAPIService service

type ModelDiscoveryAPIValidateProviderV1ModelDiscoveryValidatePostRequest struct {
	ctx        context.Context
	ApiService *ModelDiscoveryAPIService
	request    *Request
}

func (r ModelDiscoveryAPIValidateProviderV1ModelDiscoveryValidatePostRequest) Request(request Request) ModelDiscoveryAPIValidateProviderV1ModelDiscoveryValidatePostRequest {
	r.request = &request
	return r
}

func (r ModelDiscoveryAPIValidateProviderV1ModelDiscoveryValidatePostRequest) Execute() (*ProviderValidationResponse, *http.Response, error) {
	return r.ApiService.ValidateProviderV1ModelDiscoveryValidatePostExecute(r)
}

/*
ValidateProviderV1ModelDiscoveryValidatePost Validate Provider

Validate provider credentials and fetch available models.

This endpoint validates the provided credentials by attempting to
list models from the provider. If successful, returns the list of
available models with metadata.

For providers that don't support model listing (bedrock, gemini, etc.),
returns supports_model_listing=False and an empty models list.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ModelDiscoveryAPIValidateProviderV1ModelDiscoveryValidatePostRequest
*/
func (a *ModelDiscoveryAPIService) ValidateProviderV1ModelDiscoveryValidatePost(ctx context.Context) ModelDiscoveryAPIValidateProviderV1ModelDiscoveryValidatePostRequest {
	return ModelDiscoveryAPIValidateProviderV1ModelDiscoveryValidatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ProviderValidationResponse
func (a *ModelDiscoveryAPIService) ValidateProviderV1ModelDiscoveryValidatePostExecute(r ModelDiscoveryAPIValidateProviderV1ModelDiscoveryValidatePostRequest) (*ProviderValidationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ProviderValidationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ModelDiscoveryAPIService.ValidateProviderV1ModelDiscoveryValidatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/model-discovery/validate"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.request == nil {
		return localVarReturnValue, nil, reportError("request is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.request
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
