/*
Corax API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v2.206.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)


// ComplianceAPIService ComplianceAPI service
type ComplianceAPIService service

type ComplianceAPIApplyControlsV1ComplianceCapabilitiesCapabilityIdPoliciesPolicyIdPutRequest struct {
	ctx context.Context
	ApiService *ComplianceAPIService
	capabilityId string
	policyId string
}

func (r ComplianceAPIApplyControlsV1ComplianceCapabilitiesCapabilityIdPoliciesPolicyIdPutRequest) Execute() (*ApplyControlsResponse, *http.Response, error) {
	return r.ApiService.ApplyControlsV1ComplianceCapabilitiesCapabilityIdPoliciesPolicyIdPutExecute(r)
}

/*
ApplyControlsV1ComplianceCapabilitiesCapabilityIdPoliciesPolicyIdPut Apply Controls

Apply a policy's controls to a capability's version config.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param capabilityId
 @param policyId
 @return ComplianceAPIApplyControlsV1ComplianceCapabilitiesCapabilityIdPoliciesPolicyIdPutRequest
*/
func (a *ComplianceAPIService) ApplyControlsV1ComplianceCapabilitiesCapabilityIdPoliciesPolicyIdPut(ctx context.Context, capabilityId string, policyId string) ComplianceAPIApplyControlsV1ComplianceCapabilitiesCapabilityIdPoliciesPolicyIdPutRequest {
	return ComplianceAPIApplyControlsV1ComplianceCapabilitiesCapabilityIdPoliciesPolicyIdPutRequest{
		ApiService: a,
		ctx: ctx,
		capabilityId: capabilityId,
		policyId: policyId,
	}
}

// Execute executes the request
//  @return ApplyControlsResponse
func (a *ComplianceAPIService) ApplyControlsV1ComplianceCapabilitiesCapabilityIdPoliciesPolicyIdPutExecute(r ComplianceAPIApplyControlsV1ComplianceCapabilitiesCapabilityIdPoliciesPolicyIdPutRequest) (*ApplyControlsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApplyControlsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ComplianceAPIService.ApplyControlsV1ComplianceCapabilitiesCapabilityIdPoliciesPolicyIdPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/compliance/capabilities/{capability_id}/policies/{policy_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"capability_id"+"}", url.PathEscape(parameterValueToString(r.capabilityId, "capabilityId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"policy_id"+"}", url.PathEscape(parameterValueToString(r.policyId, "policyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ComplianceAPIApplyPolicyToAllV1CompliancePoliciesPolicyIdApplicationsPostRequest struct {
	ctx context.Context
	ApiService *ComplianceAPIService
	policyId string
}

func (r ComplianceAPIApplyPolicyToAllV1CompliancePoliciesPolicyIdApplicationsPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ApplyPolicyToAllV1CompliancePoliciesPolicyIdApplicationsPostExecute(r)
}

/*
ApplyPolicyToAllV1CompliancePoliciesPolicyIdApplicationsPost Apply Policy To All

Apply a policy's controls to all non-compliant capabilities in its scope.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param policyId
 @return ComplianceAPIApplyPolicyToAllV1CompliancePoliciesPolicyIdApplicationsPostRequest
*/
func (a *ComplianceAPIService) ApplyPolicyToAllV1CompliancePoliciesPolicyIdApplicationsPost(ctx context.Context, policyId string) ComplianceAPIApplyPolicyToAllV1CompliancePoliciesPolicyIdApplicationsPostRequest {
	return ComplianceAPIApplyPolicyToAllV1CompliancePoliciesPolicyIdApplicationsPostRequest{
		ApiService: a,
		ctx: ctx,
		policyId: policyId,
	}
}

// Execute executes the request
//  @return interface{}
func (a *ComplianceAPIService) ApplyPolicyToAllV1CompliancePoliciesPolicyIdApplicationsPostExecute(r ComplianceAPIApplyPolicyToAllV1CompliancePoliciesPolicyIdApplicationsPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ComplianceAPIService.ApplyPolicyToAllV1CompliancePoliciesPolicyIdApplicationsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/compliance/policies/{policy_id}/applications"
	localVarPath = strings.Replace(localVarPath, "{"+"policy_id"+"}", url.PathEscape(parameterValueToString(r.policyId, "policyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ComplianceAPICreatePolicyV1CompliancePoliciesPostRequest struct {
	ctx context.Context
	ApiService *ComplianceAPIService
	policyCreate *PolicyCreate
}

func (r ComplianceAPICreatePolicyV1CompliancePoliciesPostRequest) PolicyCreate(policyCreate PolicyCreate) ComplianceAPICreatePolicyV1CompliancePoliciesPostRequest {
	r.policyCreate = &policyCreate
	return r
}

func (r ComplianceAPICreatePolicyV1CompliancePoliciesPostRequest) Execute() (*PolicyResponse, *http.Response, error) {
	return r.ApiService.CreatePolicyV1CompliancePoliciesPostExecute(r)
}

/*
CreatePolicyV1CompliancePoliciesPost Create Policy

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ComplianceAPICreatePolicyV1CompliancePoliciesPostRequest
*/
func (a *ComplianceAPIService) CreatePolicyV1CompliancePoliciesPost(ctx context.Context) ComplianceAPICreatePolicyV1CompliancePoliciesPostRequest {
	return ComplianceAPICreatePolicyV1CompliancePoliciesPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PolicyResponse
func (a *ComplianceAPIService) CreatePolicyV1CompliancePoliciesPostExecute(r ComplianceAPICreatePolicyV1CompliancePoliciesPostRequest) (*PolicyResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PolicyResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ComplianceAPIService.CreatePolicyV1CompliancePoliciesPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/compliance/policies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.policyCreate == nil {
		return localVarReturnValue, nil, reportError("policyCreate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.policyCreate
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ComplianceAPIDeletePolicyV1CompliancePoliciesPolicyIdDeleteRequest struct {
	ctx context.Context
	ApiService *ComplianceAPIService
	policyId string
}

func (r ComplianceAPIDeletePolicyV1CompliancePoliciesPolicyIdDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeletePolicyV1CompliancePoliciesPolicyIdDeleteExecute(r)
}

/*
DeletePolicyV1CompliancePoliciesPolicyIdDelete Delete Policy

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param policyId
 @return ComplianceAPIDeletePolicyV1CompliancePoliciesPolicyIdDeleteRequest
*/
func (a *ComplianceAPIService) DeletePolicyV1CompliancePoliciesPolicyIdDelete(ctx context.Context, policyId string) ComplianceAPIDeletePolicyV1CompliancePoliciesPolicyIdDeleteRequest {
	return ComplianceAPIDeletePolicyV1CompliancePoliciesPolicyIdDeleteRequest{
		ApiService: a,
		ctx: ctx,
		policyId: policyId,
	}
}

// Execute executes the request
func (a *ComplianceAPIService) DeletePolicyV1CompliancePoliciesPolicyIdDeleteExecute(r ComplianceAPIDeletePolicyV1CompliancePoliciesPolicyIdDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ComplianceAPIService.DeletePolicyV1CompliancePoliciesPolicyIdDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/compliance/policies/{policy_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"policy_id"+"}", url.PathEscape(parameterValueToString(r.policyId, "policyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ComplianceAPIDryRunGuardrailsV1ComplianceGuardrailScansPostRequest struct {
	ctx context.Context
	ApiService *ComplianceAPIService
	dryRunRequest *DryRunRequest
}

func (r ComplianceAPIDryRunGuardrailsV1ComplianceGuardrailScansPostRequest) DryRunRequest(dryRunRequest DryRunRequest) ComplianceAPIDryRunGuardrailsV1ComplianceGuardrailScansPostRequest {
	r.dryRunRequest = &dryRunRequest
	return r
}

func (r ComplianceAPIDryRunGuardrailsV1ComplianceGuardrailScansPostRequest) Execute() (*DryRunResponse, *http.Response, error) {
	return r.ApiService.DryRunGuardrailsV1ComplianceGuardrailScansPostExecute(r)
}

/*
DryRunGuardrailsV1ComplianceGuardrailScansPost Dry Run Guardrails

Test guardrail configuration against sample text without executing or persisting.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ComplianceAPIDryRunGuardrailsV1ComplianceGuardrailScansPostRequest
*/
func (a *ComplianceAPIService) DryRunGuardrailsV1ComplianceGuardrailScansPost(ctx context.Context) ComplianceAPIDryRunGuardrailsV1ComplianceGuardrailScansPostRequest {
	return ComplianceAPIDryRunGuardrailsV1ComplianceGuardrailScansPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DryRunResponse
func (a *ComplianceAPIService) DryRunGuardrailsV1ComplianceGuardrailScansPostExecute(r ComplianceAPIDryRunGuardrailsV1ComplianceGuardrailScansPostRequest) (*DryRunResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DryRunResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ComplianceAPIService.DryRunGuardrailsV1ComplianceGuardrailScansPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/compliance/guardrail-scans"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.dryRunRequest == nil {
		return localVarReturnValue, nil, reportError("dryRunRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.dryRunRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ComplianceAPIDuplicatePolicyV1CompliancePoliciesPolicyIdCopiesPostRequest struct {
	ctx context.Context
	ApiService *ComplianceAPIService
	policyId string
}

func (r ComplianceAPIDuplicatePolicyV1CompliancePoliciesPolicyIdCopiesPostRequest) Execute() (*PolicyResponse, *http.Response, error) {
	return r.ApiService.DuplicatePolicyV1CompliancePoliciesPolicyIdCopiesPostExecute(r)
}

/*
DuplicatePolicyV1CompliancePoliciesPolicyIdCopiesPost Duplicate Policy

Create a copy of an existing policy with a new name, inactive by default.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param policyId
 @return ComplianceAPIDuplicatePolicyV1CompliancePoliciesPolicyIdCopiesPostRequest
*/
func (a *ComplianceAPIService) DuplicatePolicyV1CompliancePoliciesPolicyIdCopiesPost(ctx context.Context, policyId string) ComplianceAPIDuplicatePolicyV1CompliancePoliciesPolicyIdCopiesPostRequest {
	return ComplianceAPIDuplicatePolicyV1CompliancePoliciesPolicyIdCopiesPostRequest{
		ApiService: a,
		ctx: ctx,
		policyId: policyId,
	}
}

// Execute executes the request
//  @return PolicyResponse
func (a *ComplianceAPIService) DuplicatePolicyV1CompliancePoliciesPolicyIdCopiesPostExecute(r ComplianceAPIDuplicatePolicyV1CompliancePoliciesPolicyIdCopiesPostRequest) (*PolicyResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PolicyResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ComplianceAPIService.DuplicatePolicyV1CompliancePoliciesPolicyIdCopiesPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/compliance/policies/{policy_id}/copies"
	localVarPath = strings.Replace(localVarPath, "{"+"policy_id"+"}", url.PathEscape(parameterValueToString(r.policyId, "policyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ComplianceAPIGetApplicablePoliciesV1ComplianceCapabilitiesCapabilityIdPoliciesGetRequest struct {
	ctx context.Context
	ApiService *ComplianceAPIService
	capabilityId string
}

func (r ComplianceAPIGetApplicablePoliciesV1ComplianceCapabilitiesCapabilityIdPoliciesGetRequest) Execute() ([]ApplicablePolicyResponse, *http.Response, error) {
	return r.ApiService.GetApplicablePoliciesV1ComplianceCapabilitiesCapabilityIdPoliciesGetExecute(r)
}

/*
GetApplicablePoliciesV1ComplianceCapabilitiesCapabilityIdPoliciesGet Get Applicable Policies

List all active policies applicable to this capability with applied status.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param capabilityId
 @return ComplianceAPIGetApplicablePoliciesV1ComplianceCapabilitiesCapabilityIdPoliciesGetRequest
*/
func (a *ComplianceAPIService) GetApplicablePoliciesV1ComplianceCapabilitiesCapabilityIdPoliciesGet(ctx context.Context, capabilityId string) ComplianceAPIGetApplicablePoliciesV1ComplianceCapabilitiesCapabilityIdPoliciesGetRequest {
	return ComplianceAPIGetApplicablePoliciesV1ComplianceCapabilitiesCapabilityIdPoliciesGetRequest{
		ApiService: a,
		ctx: ctx,
		capabilityId: capabilityId,
	}
}

// Execute executes the request
//  @return []ApplicablePolicyResponse
func (a *ComplianceAPIService) GetApplicablePoliciesV1ComplianceCapabilitiesCapabilityIdPoliciesGetExecute(r ComplianceAPIGetApplicablePoliciesV1ComplianceCapabilitiesCapabilityIdPoliciesGetRequest) ([]ApplicablePolicyResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ApplicablePolicyResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ComplianceAPIService.GetApplicablePoliciesV1ComplianceCapabilitiesCapabilityIdPoliciesGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/compliance/capabilities/{capability_id}/policies"
	localVarPath = strings.Replace(localVarPath, "{"+"capability_id"+"}", url.PathEscape(parameterValueToString(r.capabilityId, "capabilityId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ComplianceAPIGetAssetDetailV1ComplianceAssetsCapabilityIdGetRequest struct {
	ctx context.Context
	ApiService *ComplianceAPIService
	capabilityId string
}

func (r ComplianceAPIGetAssetDetailV1ComplianceAssetsCapabilityIdGetRequest) Execute() (*AssetResponse, *http.Response, error) {
	return r.ApiService.GetAssetDetailV1ComplianceAssetsCapabilityIdGetExecute(r)
}

/*
GetAssetDetailV1ComplianceAssetsCapabilityIdGet Get Asset Detail

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param capabilityId
 @return ComplianceAPIGetAssetDetailV1ComplianceAssetsCapabilityIdGetRequest
*/
func (a *ComplianceAPIService) GetAssetDetailV1ComplianceAssetsCapabilityIdGet(ctx context.Context, capabilityId string) ComplianceAPIGetAssetDetailV1ComplianceAssetsCapabilityIdGetRequest {
	return ComplianceAPIGetAssetDetailV1ComplianceAssetsCapabilityIdGetRequest{
		ApiService: a,
		ctx: ctx,
		capabilityId: capabilityId,
	}
}

// Execute executes the request
//  @return AssetResponse
func (a *ComplianceAPIService) GetAssetDetailV1ComplianceAssetsCapabilityIdGetExecute(r ComplianceAPIGetAssetDetailV1ComplianceAssetsCapabilityIdGetRequest) (*AssetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AssetResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ComplianceAPIService.GetAssetDetailV1ComplianceAssetsCapabilityIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/compliance/assets/{capability_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"capability_id"+"}", url.PathEscape(parameterValueToString(r.capabilityId, "capabilityId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ComplianceAPIGetComplianceBadgeV1ComplianceAssetsCapabilityIdBadgeGetRequest struct {
	ctx context.Context
	ApiService *ComplianceAPIService
	capabilityId string
}

func (r ComplianceAPIGetComplianceBadgeV1ComplianceAssetsCapabilityIdBadgeGetRequest) Execute() (*BadgeResponse, *http.Response, error) {
	return r.ApiService.GetComplianceBadgeV1ComplianceAssetsCapabilityIdBadgeGetExecute(r)
}

/*
GetComplianceBadgeV1ComplianceAssetsCapabilityIdBadgeGet Get Compliance Badge

Lightweight compliance status for capability detail page.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param capabilityId
 @return ComplianceAPIGetComplianceBadgeV1ComplianceAssetsCapabilityIdBadgeGetRequest
*/
func (a *ComplianceAPIService) GetComplianceBadgeV1ComplianceAssetsCapabilityIdBadgeGet(ctx context.Context, capabilityId string) ComplianceAPIGetComplianceBadgeV1ComplianceAssetsCapabilityIdBadgeGetRequest {
	return ComplianceAPIGetComplianceBadgeV1ComplianceAssetsCapabilityIdBadgeGetRequest{
		ApiService: a,
		ctx: ctx,
		capabilityId: capabilityId,
	}
}

// Execute executes the request
//  @return BadgeResponse
func (a *ComplianceAPIService) GetComplianceBadgeV1ComplianceAssetsCapabilityIdBadgeGetExecute(r ComplianceAPIGetComplianceBadgeV1ComplianceAssetsCapabilityIdBadgeGetRequest) (*BadgeResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BadgeResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ComplianceAPIService.GetComplianceBadgeV1ComplianceAssetsCapabilityIdBadgeGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/compliance/assets/{capability_id}/badge"
	localVarPath = strings.Replace(localVarPath, "{"+"capability_id"+"}", url.PathEscape(parameterValueToString(r.capabilityId, "capabilityId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ComplianceAPIGetGuardrailsV1ComplianceGuardrailsGetRequest struct {
	ctx context.Context
	ApiService *ComplianceAPIService
	projectId *string
	sortBy *string
	sortOrder *string
}

func (r ComplianceAPIGetGuardrailsV1ComplianceGuardrailsGetRequest) ProjectId(projectId string) ComplianceAPIGetGuardrailsV1ComplianceGuardrailsGetRequest {
	r.projectId = &projectId
	return r
}

func (r ComplianceAPIGetGuardrailsV1ComplianceGuardrailsGetRequest) SortBy(sortBy string) ComplianceAPIGetGuardrailsV1ComplianceGuardrailsGetRequest {
	r.sortBy = &sortBy
	return r
}

func (r ComplianceAPIGetGuardrailsV1ComplianceGuardrailsGetRequest) SortOrder(sortOrder string) ComplianceAPIGetGuardrailsV1ComplianceGuardrailsGetRequest {
	r.sortOrder = &sortOrder
	return r
}

func (r ComplianceAPIGetGuardrailsV1ComplianceGuardrailsGetRequest) Execute() ([]GuardrailRow, *http.Response, error) {
	return r.ApiService.GetGuardrailsV1ComplianceGuardrailsGetExecute(r)
}

/*
GetGuardrailsV1ComplianceGuardrailsGet Get Guardrails

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ComplianceAPIGetGuardrailsV1ComplianceGuardrailsGetRequest
*/
func (a *ComplianceAPIService) GetGuardrailsV1ComplianceGuardrailsGet(ctx context.Context) ComplianceAPIGetGuardrailsV1ComplianceGuardrailsGetRequest {
	return ComplianceAPIGetGuardrailsV1ComplianceGuardrailsGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []GuardrailRow
func (a *ComplianceAPIService) GetGuardrailsV1ComplianceGuardrailsGetExecute(r ComplianceAPIGetGuardrailsV1ComplianceGuardrailsGetRequest) ([]GuardrailRow, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []GuardrailRow
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ComplianceAPIService.GetGuardrailsV1ComplianceGuardrailsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/compliance/guardrails"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.projectId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	}
	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_by", r.sortBy, "form", "")
	} else {
        var defaultValue string = "capability_name"
        parameterAddToHeaderOrQuery(localVarQueryParams, "sort_by", defaultValue, "form", "")
        r.sortBy = &defaultValue
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order", r.sortOrder, "form", "")
	} else {
        var defaultValue string = "asc"
        parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order", defaultValue, "form", "")
        r.sortOrder = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ComplianceAPIGetPolicyImpactV1CompliancePoliciesPolicyIdImpactGetRequest struct {
	ctx context.Context
	ApiService *ComplianceAPIService
	policyId string
}

func (r ComplianceAPIGetPolicyImpactV1CompliancePoliciesPolicyIdImpactGetRequest) Execute() (*PolicyImpactResponse, *http.Response, error) {
	return r.ApiService.GetPolicyImpactV1CompliancePoliciesPolicyIdImpactGetExecute(r)
}

/*
GetPolicyImpactV1CompliancePoliciesPolicyIdImpactGet Get Policy Impact

Preview policy impact: how many assets affected and non-compliant.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param policyId
 @return ComplianceAPIGetPolicyImpactV1CompliancePoliciesPolicyIdImpactGetRequest
*/
func (a *ComplianceAPIService) GetPolicyImpactV1CompliancePoliciesPolicyIdImpactGet(ctx context.Context, policyId string) ComplianceAPIGetPolicyImpactV1CompliancePoliciesPolicyIdImpactGetRequest {
	return ComplianceAPIGetPolicyImpactV1CompliancePoliciesPolicyIdImpactGetRequest{
		ApiService: a,
		ctx: ctx,
		policyId: policyId,
	}
}

// Execute executes the request
//  @return PolicyImpactResponse
func (a *ComplianceAPIService) GetPolicyImpactV1CompliancePoliciesPolicyIdImpactGetExecute(r ComplianceAPIGetPolicyImpactV1CompliancePoliciesPolicyIdImpactGetRequest) (*PolicyImpactResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PolicyImpactResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ComplianceAPIService.GetPolicyImpactV1CompliancePoliciesPolicyIdImpactGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/compliance/policies/{policy_id}/impact"
	localVarPath = strings.Replace(localVarPath, "{"+"policy_id"+"}", url.PathEscape(parameterValueToString(r.policyId, "policyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ComplianceAPIGetPolicyV1CompliancePoliciesPolicyIdGetRequest struct {
	ctx context.Context
	ApiService *ComplianceAPIService
	policyId string
}

func (r ComplianceAPIGetPolicyV1CompliancePoliciesPolicyIdGetRequest) Execute() (*PolicyResponse, *http.Response, error) {
	return r.ApiService.GetPolicyV1CompliancePoliciesPolicyIdGetExecute(r)
}

/*
GetPolicyV1CompliancePoliciesPolicyIdGet Get Policy

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param policyId
 @return ComplianceAPIGetPolicyV1CompliancePoliciesPolicyIdGetRequest
*/
func (a *ComplianceAPIService) GetPolicyV1CompliancePoliciesPolicyIdGet(ctx context.Context, policyId string) ComplianceAPIGetPolicyV1CompliancePoliciesPolicyIdGetRequest {
	return ComplianceAPIGetPolicyV1CompliancePoliciesPolicyIdGetRequest{
		ApiService: a,
		ctx: ctx,
		policyId: policyId,
	}
}

// Execute executes the request
//  @return PolicyResponse
func (a *ComplianceAPIService) GetPolicyV1CompliancePoliciesPolicyIdGetExecute(r ComplianceAPIGetPolicyV1CompliancePoliciesPolicyIdGetRequest) (*PolicyResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PolicyResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ComplianceAPIService.GetPolicyV1CompliancePoliciesPolicyIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/compliance/policies/{policy_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"policy_id"+"}", url.PathEscape(parameterValueToString(r.policyId, "policyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ComplianceAPIListAssetsV1ComplianceAssetsGetRequest struct {
	ctx context.Context
	ApiService *ComplianceAPIService
	projectId *string
	status *ComplianceStatus
}

func (r ComplianceAPIListAssetsV1ComplianceAssetsGetRequest) ProjectId(projectId string) ComplianceAPIListAssetsV1ComplianceAssetsGetRequest {
	r.projectId = &projectId
	return r
}

func (r ComplianceAPIListAssetsV1ComplianceAssetsGetRequest) Status(status ComplianceStatus) ComplianceAPIListAssetsV1ComplianceAssetsGetRequest {
	r.status = &status
	return r
}

func (r ComplianceAPIListAssetsV1ComplianceAssetsGetRequest) Execute() ([]AssetResponse, *http.Response, error) {
	return r.ApiService.ListAssetsV1ComplianceAssetsGetExecute(r)
}

/*
ListAssetsV1ComplianceAssetsGet List Assets

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ComplianceAPIListAssetsV1ComplianceAssetsGetRequest
*/
func (a *ComplianceAPIService) ListAssetsV1ComplianceAssetsGet(ctx context.Context) ComplianceAPIListAssetsV1ComplianceAssetsGetRequest {
	return ComplianceAPIListAssetsV1ComplianceAssetsGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []AssetResponse
func (a *ComplianceAPIService) ListAssetsV1ComplianceAssetsGetExecute(r ComplianceAPIListAssetsV1ComplianceAssetsGetRequest) ([]AssetResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []AssetResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ComplianceAPIService.ListAssetsV1ComplianceAssetsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/compliance/assets"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.projectId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ComplianceAPIListGuardrailEventsV1ComplianceGuardrailEventsGetRequest struct {
	ctx context.Context
	ApiService *ComplianceAPIService
	capabilityId *string
	policyId *string
	controlType *ScanCategory
	direction *ScanDirection
	fromDate *time.Time
	toDate *time.Time
	limit *int32
	offset *int32
}

func (r ComplianceAPIListGuardrailEventsV1ComplianceGuardrailEventsGetRequest) CapabilityId(capabilityId string) ComplianceAPIListGuardrailEventsV1ComplianceGuardrailEventsGetRequest {
	r.capabilityId = &capabilityId
	return r
}

func (r ComplianceAPIListGuardrailEventsV1ComplianceGuardrailEventsGetRequest) PolicyId(policyId string) ComplianceAPIListGuardrailEventsV1ComplianceGuardrailEventsGetRequest {
	r.policyId = &policyId
	return r
}

func (r ComplianceAPIListGuardrailEventsV1ComplianceGuardrailEventsGetRequest) ControlType(controlType ScanCategory) ComplianceAPIListGuardrailEventsV1ComplianceGuardrailEventsGetRequest {
	r.controlType = &controlType
	return r
}

func (r ComplianceAPIListGuardrailEventsV1ComplianceGuardrailEventsGetRequest) Direction(direction ScanDirection) ComplianceAPIListGuardrailEventsV1ComplianceGuardrailEventsGetRequest {
	r.direction = &direction
	return r
}

func (r ComplianceAPIListGuardrailEventsV1ComplianceGuardrailEventsGetRequest) FromDate(fromDate time.Time) ComplianceAPIListGuardrailEventsV1ComplianceGuardrailEventsGetRequest {
	r.fromDate = &fromDate
	return r
}

func (r ComplianceAPIListGuardrailEventsV1ComplianceGuardrailEventsGetRequest) ToDate(toDate time.Time) ComplianceAPIListGuardrailEventsV1ComplianceGuardrailEventsGetRequest {
	r.toDate = &toDate
	return r
}

func (r ComplianceAPIListGuardrailEventsV1ComplianceGuardrailEventsGetRequest) Limit(limit int32) ComplianceAPIListGuardrailEventsV1ComplianceGuardrailEventsGetRequest {
	r.limit = &limit
	return r
}

func (r ComplianceAPIListGuardrailEventsV1ComplianceGuardrailEventsGetRequest) Offset(offset int32) ComplianceAPIListGuardrailEventsV1ComplianceGuardrailEventsGetRequest {
	r.offset = &offset
	return r
}

func (r ComplianceAPIListGuardrailEventsV1ComplianceGuardrailEventsGetRequest) Execute() (*GuardrailEventListResponse, *http.Response, error) {
	return r.ApiService.ListGuardrailEventsV1ComplianceGuardrailEventsGetExecute(r)
}

/*
ListGuardrailEventsV1ComplianceGuardrailEventsGet List Guardrail Events

Query guardrail block events with filtering and pagination.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ComplianceAPIListGuardrailEventsV1ComplianceGuardrailEventsGetRequest
*/
func (a *ComplianceAPIService) ListGuardrailEventsV1ComplianceGuardrailEventsGet(ctx context.Context) ComplianceAPIListGuardrailEventsV1ComplianceGuardrailEventsGetRequest {
	return ComplianceAPIListGuardrailEventsV1ComplianceGuardrailEventsGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GuardrailEventListResponse
func (a *ComplianceAPIService) ListGuardrailEventsV1ComplianceGuardrailEventsGetExecute(r ComplianceAPIListGuardrailEventsV1ComplianceGuardrailEventsGetRequest) (*GuardrailEventListResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GuardrailEventListResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ComplianceAPIService.ListGuardrailEventsV1ComplianceGuardrailEventsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/compliance/guardrail-events"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.capabilityId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "capability_id", r.capabilityId, "form", "")
	}
	if r.policyId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "policy_id", r.policyId, "form", "")
	}
	if r.controlType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "control_type", r.controlType, "form", "")
	}
	if r.direction != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "direction", r.direction, "form", "")
	}
	if r.fromDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from_date", r.fromDate, "form", "")
	}
	if r.toDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "to_date", r.toDate, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
        var defaultValue int32 = 50
        parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
        r.limit = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
        var defaultValue int32 = 0
        parameterAddToHeaderOrQuery(localVarQueryParams, "offset", defaultValue, "form", "")
        r.offset = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ComplianceAPIListPoliciesV1CompliancePoliciesGetRequest struct {
	ctx context.Context
	ApiService *ComplianceAPIService
}

func (r ComplianceAPIListPoliciesV1CompliancePoliciesGetRequest) Execute() ([]PolicyResponse, *http.Response, error) {
	return r.ApiService.ListPoliciesV1CompliancePoliciesGetExecute(r)
}

/*
ListPoliciesV1CompliancePoliciesGet List Policies

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ComplianceAPIListPoliciesV1CompliancePoliciesGetRequest
*/
func (a *ComplianceAPIService) ListPoliciesV1CompliancePoliciesGet(ctx context.Context) ComplianceAPIListPoliciesV1CompliancePoliciesGetRequest {
	return ComplianceAPIListPoliciesV1CompliancePoliciesGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []PolicyResponse
func (a *ComplianceAPIService) ListPoliciesV1CompliancePoliciesGetExecute(r ComplianceAPIListPoliciesV1CompliancePoliciesGetRequest) ([]PolicyResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []PolicyResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ComplianceAPIService.ListPoliciesV1CompliancePoliciesGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/compliance/policies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ComplianceAPIRemoveControlsV1ComplianceCapabilitiesCapabilityIdPoliciesPolicyIdDeleteRequest struct {
	ctx context.Context
	ApiService *ComplianceAPIService
	capabilityId string
	policyId string
}

func (r ComplianceAPIRemoveControlsV1ComplianceCapabilitiesCapabilityIdPoliciesPolicyIdDeleteRequest) Execute() (*RemoveControlsResponse, *http.Response, error) {
	return r.ApiService.RemoveControlsV1ComplianceCapabilitiesCapabilityIdPoliciesPolicyIdDeleteExecute(r)
}

/*
RemoveControlsV1ComplianceCapabilitiesCapabilityIdPoliciesPolicyIdDelete Remove Controls

Remove a policy's controls from a capability's version config.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param capabilityId
 @param policyId
 @return ComplianceAPIRemoveControlsV1ComplianceCapabilitiesCapabilityIdPoliciesPolicyIdDeleteRequest
*/
func (a *ComplianceAPIService) RemoveControlsV1ComplianceCapabilitiesCapabilityIdPoliciesPolicyIdDelete(ctx context.Context, capabilityId string, policyId string) ComplianceAPIRemoveControlsV1ComplianceCapabilitiesCapabilityIdPoliciesPolicyIdDeleteRequest {
	return ComplianceAPIRemoveControlsV1ComplianceCapabilitiesCapabilityIdPoliciesPolicyIdDeleteRequest{
		ApiService: a,
		ctx: ctx,
		capabilityId: capabilityId,
		policyId: policyId,
	}
}

// Execute executes the request
//  @return RemoveControlsResponse
func (a *ComplianceAPIService) RemoveControlsV1ComplianceCapabilitiesCapabilityIdPoliciesPolicyIdDeleteExecute(r ComplianceAPIRemoveControlsV1ComplianceCapabilitiesCapabilityIdPoliciesPolicyIdDeleteRequest) (*RemoveControlsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RemoveControlsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ComplianceAPIService.RemoveControlsV1ComplianceCapabilitiesCapabilityIdPoliciesPolicyIdDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/compliance/capabilities/{capability_id}/policies/{policy_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"capability_id"+"}", url.PathEscape(parameterValueToString(r.capabilityId, "capabilityId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"policy_id"+"}", url.PathEscape(parameterValueToString(r.policyId, "policyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ComplianceAPIUpdatePolicyV1CompliancePoliciesPolicyIdPatchRequest struct {
	ctx context.Context
	ApiService *ComplianceAPIService
	policyId string
	policyUpdate *PolicyUpdate
}

func (r ComplianceAPIUpdatePolicyV1CompliancePoliciesPolicyIdPatchRequest) PolicyUpdate(policyUpdate PolicyUpdate) ComplianceAPIUpdatePolicyV1CompliancePoliciesPolicyIdPatchRequest {
	r.policyUpdate = &policyUpdate
	return r
}

func (r ComplianceAPIUpdatePolicyV1CompliancePoliciesPolicyIdPatchRequest) Execute() (*PolicyResponse, *http.Response, error) {
	return r.ApiService.UpdatePolicyV1CompliancePoliciesPolicyIdPatchExecute(r)
}

/*
UpdatePolicyV1CompliancePoliciesPolicyIdPatch Update Policy

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param policyId
 @return ComplianceAPIUpdatePolicyV1CompliancePoliciesPolicyIdPatchRequest
*/
func (a *ComplianceAPIService) UpdatePolicyV1CompliancePoliciesPolicyIdPatch(ctx context.Context, policyId string) ComplianceAPIUpdatePolicyV1CompliancePoliciesPolicyIdPatchRequest {
	return ComplianceAPIUpdatePolicyV1CompliancePoliciesPolicyIdPatchRequest{
		ApiService: a,
		ctx: ctx,
		policyId: policyId,
	}
}

// Execute executes the request
//  @return PolicyResponse
func (a *ComplianceAPIService) UpdatePolicyV1CompliancePoliciesPolicyIdPatchExecute(r ComplianceAPIUpdatePolicyV1CompliancePoliciesPolicyIdPatchRequest) (*PolicyResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PolicyResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ComplianceAPIService.UpdatePolicyV1CompliancePoliciesPolicyIdPatch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/compliance/policies/{policy_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"policy_id"+"}", url.PathEscape(parameterValueToString(r.policyId, "policyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.policyUpdate == nil {
		return localVarReturnValue, nil, reportError("policyUpdate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.policyUpdate
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
