/*
Corax API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v2.91.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// ModelProvidersAPIService ModelProvidersAPI service
type ModelProvidersAPIService service

type ModelProvidersAPICreateModelProviderV1ModelProvidersPostRequest struct {
	ctx                 context.Context
	ApiService          *ModelProvidersAPIService
	modelProviderCreate *ModelProviderCreate
}

func (r ModelProvidersAPICreateModelProviderV1ModelProvidersPostRequest) ModelProviderCreate(modelProviderCreate ModelProviderCreate) ModelProvidersAPICreateModelProviderV1ModelProvidersPostRequest {
	r.modelProviderCreate = &modelProviderCreate
	return r
}

func (r ModelProvidersAPICreateModelProviderV1ModelProvidersPostRequest) Execute() (*ModelProvider, *http.Response, error) {
	return r.ApiService.CreateModelProviderV1ModelProvidersPostExecute(r)
}

/*
CreateModelProviderV1ModelProvidersPost Create Model Provider

Create a new model provider.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ModelProvidersAPICreateModelProviderV1ModelProvidersPostRequest
*/
func (a *ModelProvidersAPIService) CreateModelProviderV1ModelProvidersPost(ctx context.Context) ModelProvidersAPICreateModelProviderV1ModelProvidersPostRequest {
	return ModelProvidersAPICreateModelProviderV1ModelProvidersPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ModelProvider
func (a *ModelProvidersAPIService) CreateModelProviderV1ModelProvidersPostExecute(r ModelProvidersAPICreateModelProviderV1ModelProvidersPostRequest) (*ModelProvider, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ModelProvider
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ModelProvidersAPIService.CreateModelProviderV1ModelProvidersPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/model-providers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.modelProviderCreate == nil {
		return localVarReturnValue, nil, reportError("modelProviderCreate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.modelProviderCreate
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ModelProvidersAPIDeleteModelProviderV1ModelProvidersProviderIdDeleteRequest struct {
	ctx        context.Context
	ApiService *ModelProvidersAPIService
	providerId string
}

func (r ModelProvidersAPIDeleteModelProviderV1ModelProvidersProviderIdDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteModelProviderV1ModelProvidersProviderIdDeleteExecute(r)
}

/*
DeleteModelProviderV1ModelProvidersProviderIdDelete Delete Model Provider

Delete a model provider.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param providerId
	@return ModelProvidersAPIDeleteModelProviderV1ModelProvidersProviderIdDeleteRequest
*/
func (a *ModelProvidersAPIService) DeleteModelProviderV1ModelProvidersProviderIdDelete(ctx context.Context, providerId string) ModelProvidersAPIDeleteModelProviderV1ModelProvidersProviderIdDeleteRequest {
	return ModelProvidersAPIDeleteModelProviderV1ModelProvidersProviderIdDeleteRequest{
		ApiService: a,
		ctx:        ctx,
		providerId: providerId,
	}
}

// Execute executes the request
func (a *ModelProvidersAPIService) DeleteModelProviderV1ModelProvidersProviderIdDeleteExecute(r ModelProvidersAPIDeleteModelProviderV1ModelProvidersProviderIdDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ModelProvidersAPIService.DeleteModelProviderV1ModelProvidersProviderIdDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/model-providers/{provider_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"provider_id"+"}", url.PathEscape(parameterValueToString(r.providerId, "providerId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ModelProvidersAPIGetModelProviderV1ModelProvidersProviderIdGetRequest struct {
	ctx        context.Context
	ApiService *ModelProvidersAPIService
	providerId string
}

func (r ModelProvidersAPIGetModelProviderV1ModelProvidersProviderIdGetRequest) Execute() (*ModelProvider, *http.Response, error) {
	return r.ApiService.GetModelProviderV1ModelProvidersProviderIdGetExecute(r)
}

/*
GetModelProviderV1ModelProvidersProviderIdGet Get Model Provider

Get a specific model provider by ID.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param providerId
	@return ModelProvidersAPIGetModelProviderV1ModelProvidersProviderIdGetRequest
*/
func (a *ModelProvidersAPIService) GetModelProviderV1ModelProvidersProviderIdGet(ctx context.Context, providerId string) ModelProvidersAPIGetModelProviderV1ModelProvidersProviderIdGetRequest {
	return ModelProvidersAPIGetModelProviderV1ModelProvidersProviderIdGetRequest{
		ApiService: a,
		ctx:        ctx,
		providerId: providerId,
	}
}

// Execute executes the request
//
//	@return ModelProvider
func (a *ModelProvidersAPIService) GetModelProviderV1ModelProvidersProviderIdGetExecute(r ModelProvidersAPIGetModelProviderV1ModelProvidersProviderIdGetRequest) (*ModelProvider, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ModelProvider
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ModelProvidersAPIService.GetModelProviderV1ModelProvidersProviderIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/model-providers/{provider_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"provider_id"+"}", url.PathEscape(parameterValueToString(r.providerId, "providerId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ModelProvidersAPIListModelProvidersV1ModelProvidersGetRequest struct {
	ctx        context.Context
	ApiService *ModelProvidersAPIService
	page       *int32
	size       *int32
	sort       *string
	filter     *string
}

func (r ModelProvidersAPIListModelProvidersV1ModelProvidersGetRequest) Page(page int32) ModelProvidersAPIListModelProvidersV1ModelProvidersGetRequest {
	r.page = &page
	return r
}

func (r ModelProvidersAPIListModelProvidersV1ModelProvidersGetRequest) Size(size int32) ModelProvidersAPIListModelProvidersV1ModelProvidersGetRequest {
	r.size = &size
	return r
}

func (r ModelProvidersAPIListModelProvidersV1ModelProvidersGetRequest) Sort(sort string) ModelProvidersAPIListModelProvidersV1ModelProvidersGetRequest {
	r.sort = &sort
	return r
}

func (r ModelProvidersAPIListModelProvidersV1ModelProvidersGetRequest) Filter(filter string) ModelProvidersAPIListModelProvidersV1ModelProvidersGetRequest {
	r.filter = &filter
	return r
}

func (r ModelProvidersAPIListModelProvidersV1ModelProvidersGetRequest) Execute() (*PagedResponseModelModelProvider, *http.Response, error) {
	return r.ApiService.ListModelProvidersV1ModelProvidersGetExecute(r)
}

/*
ListModelProvidersV1ModelProvidersGet List Model Providers

List all model providers with pagination.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ModelProvidersAPIListModelProvidersV1ModelProvidersGetRequest
*/
func (a *ModelProvidersAPIService) ListModelProvidersV1ModelProvidersGet(ctx context.Context) ModelProvidersAPIListModelProvidersV1ModelProvidersGetRequest {
	return ModelProvidersAPIListModelProvidersV1ModelProvidersGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PagedResponseModelModelProvider
func (a *ModelProvidersAPIService) ListModelProvidersV1ModelProvidersGetExecute(r ModelProvidersAPIListModelProvidersV1ModelProvidersGetRequest) (*PagedResponseModelModelProvider, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PagedResponseModelModelProvider
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ModelProvidersAPIService.ListModelProvidersV1ModelProvidersGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/model-providers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	} else {
		var defaultValue int32 = 10
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", defaultValue, "form", "")
		r.size = &defaultValue
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	} else {
		var defaultValue string = "id"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", defaultValue, "form", "")
		r.sort = &defaultValue
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ModelProvidersAPIUpdateModelProviderV1ModelProvidersProviderIdPutRequest struct {
	ctx                 context.Context
	ApiService          *ModelProvidersAPIService
	providerId          string
	modelProviderUpdate *ModelProviderUpdate
}

func (r ModelProvidersAPIUpdateModelProviderV1ModelProvidersProviderIdPutRequest) ModelProviderUpdate(modelProviderUpdate ModelProviderUpdate) ModelProvidersAPIUpdateModelProviderV1ModelProvidersProviderIdPutRequest {
	r.modelProviderUpdate = &modelProviderUpdate
	return r
}

func (r ModelProvidersAPIUpdateModelProviderV1ModelProvidersProviderIdPutRequest) Execute() (*ModelProvider, *http.Response, error) {
	return r.ApiService.UpdateModelProviderV1ModelProvidersProviderIdPutExecute(r)
}

/*
UpdateModelProviderV1ModelProvidersProviderIdPut Update Model Provider

Update a model provider.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param providerId
	@return ModelProvidersAPIUpdateModelProviderV1ModelProvidersProviderIdPutRequest
*/
func (a *ModelProvidersAPIService) UpdateModelProviderV1ModelProvidersProviderIdPut(ctx context.Context, providerId string) ModelProvidersAPIUpdateModelProviderV1ModelProvidersProviderIdPutRequest {
	return ModelProvidersAPIUpdateModelProviderV1ModelProvidersProviderIdPutRequest{
		ApiService: a,
		ctx:        ctx,
		providerId: providerId,
	}
}

// Execute executes the request
//
//	@return ModelProvider
func (a *ModelProvidersAPIService) UpdateModelProviderV1ModelProvidersProviderIdPutExecute(r ModelProvidersAPIUpdateModelProviderV1ModelProvidersProviderIdPutRequest) (*ModelProvider, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ModelProvider
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ModelProvidersAPIService.UpdateModelProviderV1ModelProvidersProviderIdPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/model-providers/{provider_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"provider_id"+"}", url.PathEscape(parameterValueToString(r.providerId, "providerId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.modelProviderUpdate == nil {
		return localVarReturnValue, nil, reportError("modelProviderUpdate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.modelProviderUpdate
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
