/*
Corax API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v2.91.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// ModelProviderTypesAPIService ModelProviderTypesAPI service
type ModelProviderTypesAPIService service

type ModelProviderTypesAPIGetModelProviderConfigurationV1ModelProviderTypesProviderTypeModelProviderConfigurationGetRequest struct {
	ctx          context.Context
	ApiService   *ModelProviderTypesAPIService
	providerType string
}

func (r ModelProviderTypesAPIGetModelProviderConfigurationV1ModelProviderTypesProviderTypeModelProviderConfigurationGetRequest) Execute() (*Configuration, *http.Response, error) {
	return r.ApiService.GetModelProviderConfigurationV1ModelProviderTypesProviderTypeModelProviderConfigurationGetExecute(r)
}

/*
GetModelProviderConfigurationV1ModelProviderTypesProviderTypeModelProviderConfigurationGet Get Model Provider Configuration

Get the configuration for a specific model provider type.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param providerType
	@return ModelProviderTypesAPIGetModelProviderConfigurationV1ModelProviderTypesProviderTypeModelProviderConfigurationGetRequest
*/
func (a *ModelProviderTypesAPIService) GetModelProviderConfigurationV1ModelProviderTypesProviderTypeModelProviderConfigurationGet(ctx context.Context, providerType string) ModelProviderTypesAPIGetModelProviderConfigurationV1ModelProviderTypesProviderTypeModelProviderConfigurationGetRequest {
	return ModelProviderTypesAPIGetModelProviderConfigurationV1ModelProviderTypesProviderTypeModelProviderConfigurationGetRequest{
		ApiService:   a,
		ctx:          ctx,
		providerType: providerType,
	}
}

// Execute executes the request
//
//	@return Configuration
func (a *ModelProviderTypesAPIService) GetModelProviderConfigurationV1ModelProviderTypesProviderTypeModelProviderConfigurationGetExecute(r ModelProviderTypesAPIGetModelProviderConfigurationV1ModelProviderTypesProviderTypeModelProviderConfigurationGetRequest) (*Configuration, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Configuration
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ModelProviderTypesAPIService.GetModelProviderConfigurationV1ModelProviderTypesProviderTypeModelProviderConfigurationGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/model-provider-types/{provider_type}/model-provider-configuration"
	localVarPath = strings.Replace(localVarPath, "{"+"provider_type"+"}", url.PathEscape(parameterValueToString(r.providerType, "providerType")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ModelProviderTypesAPIGetModelProviderDeploymentConfigurationV1ModelProviderTypesProviderTypeModelDeploymentConfigurationGetRequest struct {
	ctx          context.Context
	ApiService   *ModelProviderTypesAPIService
	providerType string
}

func (r ModelProviderTypesAPIGetModelProviderDeploymentConfigurationV1ModelProviderTypesProviderTypeModelDeploymentConfigurationGetRequest) Execute() (*Configuration, *http.Response, error) {
	return r.ApiService.GetModelProviderDeploymentConfigurationV1ModelProviderTypesProviderTypeModelDeploymentConfigurationGetExecute(r)
}

/*
GetModelProviderDeploymentConfigurationV1ModelProviderTypesProviderTypeModelDeploymentConfigurationGet Get Model Provider Deployment Configuration

Get the deployment configuration for a specific model provider type.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param providerType
	@return ModelProviderTypesAPIGetModelProviderDeploymentConfigurationV1ModelProviderTypesProviderTypeModelDeploymentConfigurationGetRequest
*/
func (a *ModelProviderTypesAPIService) GetModelProviderDeploymentConfigurationV1ModelProviderTypesProviderTypeModelDeploymentConfigurationGet(ctx context.Context, providerType string) ModelProviderTypesAPIGetModelProviderDeploymentConfigurationV1ModelProviderTypesProviderTypeModelDeploymentConfigurationGetRequest {
	return ModelProviderTypesAPIGetModelProviderDeploymentConfigurationV1ModelProviderTypesProviderTypeModelDeploymentConfigurationGetRequest{
		ApiService:   a,
		ctx:          ctx,
		providerType: providerType,
	}
}

// Execute executes the request
//
//	@return Configuration
func (a *ModelProviderTypesAPIService) GetModelProviderDeploymentConfigurationV1ModelProviderTypesProviderTypeModelDeploymentConfigurationGetExecute(r ModelProviderTypesAPIGetModelProviderDeploymentConfigurationV1ModelProviderTypesProviderTypeModelDeploymentConfigurationGetRequest) (*Configuration, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Configuration
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ModelProviderTypesAPIService.GetModelProviderDeploymentConfigurationV1ModelProviderTypesProviderTypeModelDeploymentConfigurationGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/model-provider-types/{provider_type}/model-deployment-configuration"
	localVarPath = strings.Replace(localVarPath, "{"+"provider_type"+"}", url.PathEscape(parameterValueToString(r.providerType, "providerType")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ModelProviderTypesAPIGetModelProviderTypeV1ModelProviderTypesProviderTypeGetRequest struct {
	ctx          context.Context
	ApiService   *ModelProviderTypesAPIService
	providerType string
}

func (r ModelProviderTypesAPIGetModelProviderTypeV1ModelProviderTypesProviderTypeGetRequest) Execute() (*ModelProviderType, *http.Response, error) {
	return r.ApiService.GetModelProviderTypeV1ModelProviderTypesProviderTypeGetExecute(r)
}

/*
GetModelProviderTypeV1ModelProviderTypesProviderTypeGet Get Model Provider Type

Get a specific model provider type.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param providerType
	@return ModelProviderTypesAPIGetModelProviderTypeV1ModelProviderTypesProviderTypeGetRequest
*/
func (a *ModelProviderTypesAPIService) GetModelProviderTypeV1ModelProviderTypesProviderTypeGet(ctx context.Context, providerType string) ModelProviderTypesAPIGetModelProviderTypeV1ModelProviderTypesProviderTypeGetRequest {
	return ModelProviderTypesAPIGetModelProviderTypeV1ModelProviderTypesProviderTypeGetRequest{
		ApiService:   a,
		ctx:          ctx,
		providerType: providerType,
	}
}

// Execute executes the request
//
//	@return ModelProviderType
func (a *ModelProviderTypesAPIService) GetModelProviderTypeV1ModelProviderTypesProviderTypeGetExecute(r ModelProviderTypesAPIGetModelProviderTypeV1ModelProviderTypesProviderTypeGetRequest) (*ModelProviderType, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ModelProviderType
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ModelProviderTypesAPIService.GetModelProviderTypeV1ModelProviderTypesProviderTypeGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/model-provider-types/{provider_type}"
	localVarPath = strings.Replace(localVarPath, "{"+"provider_type"+"}", url.PathEscape(parameterValueToString(r.providerType, "providerType")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ModelProviderTypesAPIListModelProviderTypesV1ModelProviderTypesGetRequest struct {
	ctx        context.Context
	ApiService *ModelProviderTypesAPIService
	page       *int32
	size       *int32
	sort       *string
	filter     *string
}

func (r ModelProviderTypesAPIListModelProviderTypesV1ModelProviderTypesGetRequest) Page(page int32) ModelProviderTypesAPIListModelProviderTypesV1ModelProviderTypesGetRequest {
	r.page = &page
	return r
}

func (r ModelProviderTypesAPIListModelProviderTypesV1ModelProviderTypesGetRequest) Size(size int32) ModelProviderTypesAPIListModelProviderTypesV1ModelProviderTypesGetRequest {
	r.size = &size
	return r
}

func (r ModelProviderTypesAPIListModelProviderTypesV1ModelProviderTypesGetRequest) Sort(sort string) ModelProviderTypesAPIListModelProviderTypesV1ModelProviderTypesGetRequest {
	r.sort = &sort
	return r
}

func (r ModelProviderTypesAPIListModelProviderTypesV1ModelProviderTypesGetRequest) Filter(filter string) ModelProviderTypesAPIListModelProviderTypesV1ModelProviderTypesGetRequest {
	r.filter = &filter
	return r
}

func (r ModelProviderTypesAPIListModelProviderTypesV1ModelProviderTypesGetRequest) Execute() (*PagedResponseModelModelProviderType, *http.Response, error) {
	return r.ApiService.ListModelProviderTypesV1ModelProviderTypesGetExecute(r)
}

/*
ListModelProviderTypesV1ModelProviderTypesGet List Model Provider Types

List all model provider types.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ModelProviderTypesAPIListModelProviderTypesV1ModelProviderTypesGetRequest
*/
func (a *ModelProviderTypesAPIService) ListModelProviderTypesV1ModelProviderTypesGet(ctx context.Context) ModelProviderTypesAPIListModelProviderTypesV1ModelProviderTypesGetRequest {
	return ModelProviderTypesAPIListModelProviderTypesV1ModelProviderTypesGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PagedResponseModelModelProviderType
func (a *ModelProviderTypesAPIService) ListModelProviderTypesV1ModelProviderTypesGetExecute(r ModelProviderTypesAPIListModelProviderTypesV1ModelProviderTypesGetRequest) (*PagedResponseModelModelProviderType, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PagedResponseModelModelProviderType
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ModelProviderTypesAPIService.ListModelProviderTypesV1ModelProviderTypesGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/model-provider-types"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	} else {
		var defaultValue int32 = 100
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", defaultValue, "form", "")
		r.size = &defaultValue
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	} else {
		var defaultValue string = "label"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", defaultValue, "form", "")
		r.sort = &defaultValue
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
