/*
Corax API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v2.91.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// EvaluationDatasetsAPIService EvaluationDatasetsAPI service
type EvaluationDatasetsAPIService service

type EvaluationDatasetsAPIAddItemsToEvaluationDatasetV1EvaluationDatasetsDatasetIdItemsPostRequest struct {
	ctx                         context.Context
	ApiService                  *EvaluationDatasetsAPIService
	datasetId                   string
	evaluationDatasetItemCreate *EvaluationDatasetItemCreate
}

func (r EvaluationDatasetsAPIAddItemsToEvaluationDatasetV1EvaluationDatasetsDatasetIdItemsPostRequest) EvaluationDatasetItemCreate(evaluationDatasetItemCreate EvaluationDatasetItemCreate) EvaluationDatasetsAPIAddItemsToEvaluationDatasetV1EvaluationDatasetsDatasetIdItemsPostRequest {
	r.evaluationDatasetItemCreate = &evaluationDatasetItemCreate
	return r
}

func (r EvaluationDatasetsAPIAddItemsToEvaluationDatasetV1EvaluationDatasetsDatasetIdItemsPostRequest) Execute() (*EvaluationDatasetItemRepresentation, *http.Response, error) {
	return r.ApiService.AddItemsToEvaluationDatasetV1EvaluationDatasetsDatasetIdItemsPostExecute(r)
}

/*
AddItemsToEvaluationDatasetV1EvaluationDatasetsDatasetIdItemsPost Add Items To Evaluation Dataset

Add items to an evaluation dataset.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param datasetId
	@return EvaluationDatasetsAPIAddItemsToEvaluationDatasetV1EvaluationDatasetsDatasetIdItemsPostRequest
*/
func (a *EvaluationDatasetsAPIService) AddItemsToEvaluationDatasetV1EvaluationDatasetsDatasetIdItemsPost(ctx context.Context, datasetId string) EvaluationDatasetsAPIAddItemsToEvaluationDatasetV1EvaluationDatasetsDatasetIdItemsPostRequest {
	return EvaluationDatasetsAPIAddItemsToEvaluationDatasetV1EvaluationDatasetsDatasetIdItemsPostRequest{
		ApiService: a,
		ctx:        ctx,
		datasetId:  datasetId,
	}
}

// Execute executes the request
//
//	@return EvaluationDatasetItemRepresentation
func (a *EvaluationDatasetsAPIService) AddItemsToEvaluationDatasetV1EvaluationDatasetsDatasetIdItemsPostExecute(r EvaluationDatasetsAPIAddItemsToEvaluationDatasetV1EvaluationDatasetsDatasetIdItemsPostRequest) (*EvaluationDatasetItemRepresentation, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *EvaluationDatasetItemRepresentation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EvaluationDatasetsAPIService.AddItemsToEvaluationDatasetV1EvaluationDatasetsDatasetIdItemsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/evaluation-datasets/{dataset_id}/items"
	localVarPath = strings.Replace(localVarPath, "{"+"dataset_id"+"}", url.PathEscape(parameterValueToString(r.datasetId, "datasetId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.evaluationDatasetItemCreate == nil {
		return localVarReturnValue, nil, reportError("evaluationDatasetItemCreate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.evaluationDatasetItemCreate
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EvaluationDatasetsAPICreateEvaluationDatasetV1EvaluationDatasetsPostRequest struct {
	ctx                     context.Context
	ApiService              *EvaluationDatasetsAPIService
	evaluationDatasetCreate *EvaluationDatasetCreate
}

func (r EvaluationDatasetsAPICreateEvaluationDatasetV1EvaluationDatasetsPostRequest) EvaluationDatasetCreate(evaluationDatasetCreate EvaluationDatasetCreate) EvaluationDatasetsAPICreateEvaluationDatasetV1EvaluationDatasetsPostRequest {
	r.evaluationDatasetCreate = &evaluationDatasetCreate
	return r
}

func (r EvaluationDatasetsAPICreateEvaluationDatasetV1EvaluationDatasetsPostRequest) Execute() (*EvaluationDatasetRepresentation, *http.Response, error) {
	return r.ApiService.CreateEvaluationDatasetV1EvaluationDatasetsPostExecute(r)
}

/*
CreateEvaluationDatasetV1EvaluationDatasetsPost Create Evaluation Dataset

Create a new evaluation dataset.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return EvaluationDatasetsAPICreateEvaluationDatasetV1EvaluationDatasetsPostRequest
*/
func (a *EvaluationDatasetsAPIService) CreateEvaluationDatasetV1EvaluationDatasetsPost(ctx context.Context) EvaluationDatasetsAPICreateEvaluationDatasetV1EvaluationDatasetsPostRequest {
	return EvaluationDatasetsAPICreateEvaluationDatasetV1EvaluationDatasetsPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return EvaluationDatasetRepresentation
func (a *EvaluationDatasetsAPIService) CreateEvaluationDatasetV1EvaluationDatasetsPostExecute(r EvaluationDatasetsAPICreateEvaluationDatasetV1EvaluationDatasetsPostRequest) (*EvaluationDatasetRepresentation, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *EvaluationDatasetRepresentation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EvaluationDatasetsAPIService.CreateEvaluationDatasetV1EvaluationDatasetsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/evaluation-datasets"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.evaluationDatasetCreate == nil {
		return localVarReturnValue, nil, reportError("evaluationDatasetCreate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.evaluationDatasetCreate
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EvaluationDatasetsAPIDeleteEvaluationDatasetItemV1EvaluationDatasetsDatasetIdItemsItemIdDeleteRequest struct {
	ctx        context.Context
	ApiService *EvaluationDatasetsAPIService
	datasetId  string
	itemId     string
}

func (r EvaluationDatasetsAPIDeleteEvaluationDatasetItemV1EvaluationDatasetsDatasetIdItemsItemIdDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteEvaluationDatasetItemV1EvaluationDatasetsDatasetIdItemsItemIdDeleteExecute(r)
}

/*
DeleteEvaluationDatasetItemV1EvaluationDatasetsDatasetIdItemsItemIdDelete Delete Evaluation Dataset Item

Delete an item in an evaluation dataset.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param datasetId
	@param itemId
	@return EvaluationDatasetsAPIDeleteEvaluationDatasetItemV1EvaluationDatasetsDatasetIdItemsItemIdDeleteRequest
*/
func (a *EvaluationDatasetsAPIService) DeleteEvaluationDatasetItemV1EvaluationDatasetsDatasetIdItemsItemIdDelete(ctx context.Context, datasetId string, itemId string) EvaluationDatasetsAPIDeleteEvaluationDatasetItemV1EvaluationDatasetsDatasetIdItemsItemIdDeleteRequest {
	return EvaluationDatasetsAPIDeleteEvaluationDatasetItemV1EvaluationDatasetsDatasetIdItemsItemIdDeleteRequest{
		ApiService: a,
		ctx:        ctx,
		datasetId:  datasetId,
		itemId:     itemId,
	}
}

// Execute executes the request
func (a *EvaluationDatasetsAPIService) DeleteEvaluationDatasetItemV1EvaluationDatasetsDatasetIdItemsItemIdDeleteExecute(r EvaluationDatasetsAPIDeleteEvaluationDatasetItemV1EvaluationDatasetsDatasetIdItemsItemIdDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EvaluationDatasetsAPIService.DeleteEvaluationDatasetItemV1EvaluationDatasetsDatasetIdItemsItemIdDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/evaluation-datasets/{dataset_id}/items/{item_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"dataset_id"+"}", url.PathEscape(parameterValueToString(r.datasetId, "datasetId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"item_id"+"}", url.PathEscape(parameterValueToString(r.itemId, "itemId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type EvaluationDatasetsAPIDeleteEvaluationDatasetV1EvaluationDatasetsDatasetIdDeleteRequest struct {
	ctx        context.Context
	ApiService *EvaluationDatasetsAPIService
	datasetId  string
}

func (r EvaluationDatasetsAPIDeleteEvaluationDatasetV1EvaluationDatasetsDatasetIdDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteEvaluationDatasetV1EvaluationDatasetsDatasetIdDeleteExecute(r)
}

/*
DeleteEvaluationDatasetV1EvaluationDatasetsDatasetIdDelete Delete Evaluation Dataset

Delete an evaluation dataset.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param datasetId
	@return EvaluationDatasetsAPIDeleteEvaluationDatasetV1EvaluationDatasetsDatasetIdDeleteRequest
*/
func (a *EvaluationDatasetsAPIService) DeleteEvaluationDatasetV1EvaluationDatasetsDatasetIdDelete(ctx context.Context, datasetId string) EvaluationDatasetsAPIDeleteEvaluationDatasetV1EvaluationDatasetsDatasetIdDeleteRequest {
	return EvaluationDatasetsAPIDeleteEvaluationDatasetV1EvaluationDatasetsDatasetIdDeleteRequest{
		ApiService: a,
		ctx:        ctx,
		datasetId:  datasetId,
	}
}

// Execute executes the request
func (a *EvaluationDatasetsAPIService) DeleteEvaluationDatasetV1EvaluationDatasetsDatasetIdDeleteExecute(r EvaluationDatasetsAPIDeleteEvaluationDatasetV1EvaluationDatasetsDatasetIdDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EvaluationDatasetsAPIService.DeleteEvaluationDatasetV1EvaluationDatasetsDatasetIdDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/evaluation-datasets/{dataset_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"dataset_id"+"}", url.PathEscape(parameterValueToString(r.datasetId, "datasetId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type EvaluationDatasetsAPIGetEvaluationDatasetItemV1EvaluationDatasetsDatasetIdItemsItemIdGetRequest struct {
	ctx        context.Context
	ApiService *EvaluationDatasetsAPIService
	datasetId  string
	itemId     string
}

func (r EvaluationDatasetsAPIGetEvaluationDatasetItemV1EvaluationDatasetsDatasetIdItemsItemIdGetRequest) Execute() (*EvaluationDatasetItemRepresentation, *http.Response, error) {
	return r.ApiService.GetEvaluationDatasetItemV1EvaluationDatasetsDatasetIdItemsItemIdGetExecute(r)
}

/*
GetEvaluationDatasetItemV1EvaluationDatasetsDatasetIdItemsItemIdGet Get Evaluation Dataset Item

Get an item in an evaluation dataset by ID.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param datasetId
	@param itemId
	@return EvaluationDatasetsAPIGetEvaluationDatasetItemV1EvaluationDatasetsDatasetIdItemsItemIdGetRequest
*/
func (a *EvaluationDatasetsAPIService) GetEvaluationDatasetItemV1EvaluationDatasetsDatasetIdItemsItemIdGet(ctx context.Context, datasetId string, itemId string) EvaluationDatasetsAPIGetEvaluationDatasetItemV1EvaluationDatasetsDatasetIdItemsItemIdGetRequest {
	return EvaluationDatasetsAPIGetEvaluationDatasetItemV1EvaluationDatasetsDatasetIdItemsItemIdGetRequest{
		ApiService: a,
		ctx:        ctx,
		datasetId:  datasetId,
		itemId:     itemId,
	}
}

// Execute executes the request
//
//	@return EvaluationDatasetItemRepresentation
func (a *EvaluationDatasetsAPIService) GetEvaluationDatasetItemV1EvaluationDatasetsDatasetIdItemsItemIdGetExecute(r EvaluationDatasetsAPIGetEvaluationDatasetItemV1EvaluationDatasetsDatasetIdItemsItemIdGetRequest) (*EvaluationDatasetItemRepresentation, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *EvaluationDatasetItemRepresentation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EvaluationDatasetsAPIService.GetEvaluationDatasetItemV1EvaluationDatasetsDatasetIdItemsItemIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/evaluation-datasets/{dataset_id}/items/{item_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"dataset_id"+"}", url.PathEscape(parameterValueToString(r.datasetId, "datasetId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"item_id"+"}", url.PathEscape(parameterValueToString(r.itemId, "itemId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EvaluationDatasetsAPIGetEvaluationDatasetV1EvaluationDatasetsDatasetIdGetRequest struct {
	ctx        context.Context
	ApiService *EvaluationDatasetsAPIService
	datasetId  string
}

func (r EvaluationDatasetsAPIGetEvaluationDatasetV1EvaluationDatasetsDatasetIdGetRequest) Execute() (*EvaluationDatasetRepresentation, *http.Response, error) {
	return r.ApiService.GetEvaluationDatasetV1EvaluationDatasetsDatasetIdGetExecute(r)
}

/*
GetEvaluationDatasetV1EvaluationDatasetsDatasetIdGet Get Evaluation Dataset

Get an evaluation dataset by ID.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param datasetId
	@return EvaluationDatasetsAPIGetEvaluationDatasetV1EvaluationDatasetsDatasetIdGetRequest
*/
func (a *EvaluationDatasetsAPIService) GetEvaluationDatasetV1EvaluationDatasetsDatasetIdGet(ctx context.Context, datasetId string) EvaluationDatasetsAPIGetEvaluationDatasetV1EvaluationDatasetsDatasetIdGetRequest {
	return EvaluationDatasetsAPIGetEvaluationDatasetV1EvaluationDatasetsDatasetIdGetRequest{
		ApiService: a,
		ctx:        ctx,
		datasetId:  datasetId,
	}
}

// Execute executes the request
//
//	@return EvaluationDatasetRepresentation
func (a *EvaluationDatasetsAPIService) GetEvaluationDatasetV1EvaluationDatasetsDatasetIdGetExecute(r EvaluationDatasetsAPIGetEvaluationDatasetV1EvaluationDatasetsDatasetIdGetRequest) (*EvaluationDatasetRepresentation, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *EvaluationDatasetRepresentation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EvaluationDatasetsAPIService.GetEvaluationDatasetV1EvaluationDatasetsDatasetIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/evaluation-datasets/{dataset_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"dataset_id"+"}", url.PathEscape(parameterValueToString(r.datasetId, "datasetId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EvaluationDatasetsAPIListEvaluationDatasetItemsV1EvaluationDatasetsDatasetIdItemsGetRequest struct {
	ctx        context.Context
	ApiService *EvaluationDatasetsAPIService
	datasetId  string
	page       *int32
	size       *int32
	sort       *string
	filter     *string
}

func (r EvaluationDatasetsAPIListEvaluationDatasetItemsV1EvaluationDatasetsDatasetIdItemsGetRequest) Page(page int32) EvaluationDatasetsAPIListEvaluationDatasetItemsV1EvaluationDatasetsDatasetIdItemsGetRequest {
	r.page = &page
	return r
}

func (r EvaluationDatasetsAPIListEvaluationDatasetItemsV1EvaluationDatasetsDatasetIdItemsGetRequest) Size(size int32) EvaluationDatasetsAPIListEvaluationDatasetItemsV1EvaluationDatasetsDatasetIdItemsGetRequest {
	r.size = &size
	return r
}

func (r EvaluationDatasetsAPIListEvaluationDatasetItemsV1EvaluationDatasetsDatasetIdItemsGetRequest) Sort(sort string) EvaluationDatasetsAPIListEvaluationDatasetItemsV1EvaluationDatasetsDatasetIdItemsGetRequest {
	r.sort = &sort
	return r
}

func (r EvaluationDatasetsAPIListEvaluationDatasetItemsV1EvaluationDatasetsDatasetIdItemsGetRequest) Filter(filter string) EvaluationDatasetsAPIListEvaluationDatasetItemsV1EvaluationDatasetsDatasetIdItemsGetRequest {
	r.filter = &filter
	return r
}

func (r EvaluationDatasetsAPIListEvaluationDatasetItemsV1EvaluationDatasetsDatasetIdItemsGetRequest) Execute() (*PagedResponseModelEvaluationDatasetItemRepresentation, *http.Response, error) {
	return r.ApiService.ListEvaluationDatasetItemsV1EvaluationDatasetsDatasetIdItemsGetExecute(r)
}

/*
ListEvaluationDatasetItemsV1EvaluationDatasetsDatasetIdItemsGet List Evaluation Dataset Items

Get items in an evaluation dataset.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param datasetId
	@return EvaluationDatasetsAPIListEvaluationDatasetItemsV1EvaluationDatasetsDatasetIdItemsGetRequest
*/
func (a *EvaluationDatasetsAPIService) ListEvaluationDatasetItemsV1EvaluationDatasetsDatasetIdItemsGet(ctx context.Context, datasetId string) EvaluationDatasetsAPIListEvaluationDatasetItemsV1EvaluationDatasetsDatasetIdItemsGetRequest {
	return EvaluationDatasetsAPIListEvaluationDatasetItemsV1EvaluationDatasetsDatasetIdItemsGetRequest{
		ApiService: a,
		ctx:        ctx,
		datasetId:  datasetId,
	}
}

// Execute executes the request
//
//	@return PagedResponseModelEvaluationDatasetItemRepresentation
func (a *EvaluationDatasetsAPIService) ListEvaluationDatasetItemsV1EvaluationDatasetsDatasetIdItemsGetExecute(r EvaluationDatasetsAPIListEvaluationDatasetItemsV1EvaluationDatasetsDatasetIdItemsGetRequest) (*PagedResponseModelEvaluationDatasetItemRepresentation, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PagedResponseModelEvaluationDatasetItemRepresentation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EvaluationDatasetsAPIService.ListEvaluationDatasetItemsV1EvaluationDatasetsDatasetIdItemsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/evaluation-datasets/{dataset_id}/items"
	localVarPath = strings.Replace(localVarPath, "{"+"dataset_id"+"}", url.PathEscape(parameterValueToString(r.datasetId, "datasetId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	} else {
		var defaultValue int32 = 10
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", defaultValue, "form", "")
		r.size = &defaultValue
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	} else {
		var defaultValue string = "id"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", defaultValue, "form", "")
		r.sort = &defaultValue
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EvaluationDatasetsAPIListEvaluationDatasetsV1EvaluationDatasetsGetRequest struct {
	ctx        context.Context
	ApiService *EvaluationDatasetsAPIService
	page       *int32
	size       *int32
	sort       *string
	filter     *string
}

func (r EvaluationDatasetsAPIListEvaluationDatasetsV1EvaluationDatasetsGetRequest) Page(page int32) EvaluationDatasetsAPIListEvaluationDatasetsV1EvaluationDatasetsGetRequest {
	r.page = &page
	return r
}

func (r EvaluationDatasetsAPIListEvaluationDatasetsV1EvaluationDatasetsGetRequest) Size(size int32) EvaluationDatasetsAPIListEvaluationDatasetsV1EvaluationDatasetsGetRequest {
	r.size = &size
	return r
}

func (r EvaluationDatasetsAPIListEvaluationDatasetsV1EvaluationDatasetsGetRequest) Sort(sort string) EvaluationDatasetsAPIListEvaluationDatasetsV1EvaluationDatasetsGetRequest {
	r.sort = &sort
	return r
}

func (r EvaluationDatasetsAPIListEvaluationDatasetsV1EvaluationDatasetsGetRequest) Filter(filter string) EvaluationDatasetsAPIListEvaluationDatasetsV1EvaluationDatasetsGetRequest {
	r.filter = &filter
	return r
}

func (r EvaluationDatasetsAPIListEvaluationDatasetsV1EvaluationDatasetsGetRequest) Execute() (*PagedResponseModelEvaluationDatasetRepresentation, *http.Response, error) {
	return r.ApiService.ListEvaluationDatasetsV1EvaluationDatasetsGetExecute(r)
}

/*
ListEvaluationDatasetsV1EvaluationDatasetsGet List Evaluation Datasets

Get all evaluation datasets.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return EvaluationDatasetsAPIListEvaluationDatasetsV1EvaluationDatasetsGetRequest
*/
func (a *EvaluationDatasetsAPIService) ListEvaluationDatasetsV1EvaluationDatasetsGet(ctx context.Context) EvaluationDatasetsAPIListEvaluationDatasetsV1EvaluationDatasetsGetRequest {
	return EvaluationDatasetsAPIListEvaluationDatasetsV1EvaluationDatasetsGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PagedResponseModelEvaluationDatasetRepresentation
func (a *EvaluationDatasetsAPIService) ListEvaluationDatasetsV1EvaluationDatasetsGetExecute(r EvaluationDatasetsAPIListEvaluationDatasetsV1EvaluationDatasetsGetRequest) (*PagedResponseModelEvaluationDatasetRepresentation, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PagedResponseModelEvaluationDatasetRepresentation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EvaluationDatasetsAPIService.ListEvaluationDatasetsV1EvaluationDatasetsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/evaluation-datasets"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	} else {
		var defaultValue int32 = 10
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", defaultValue, "form", "")
		r.size = &defaultValue
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	} else {
		var defaultValue string = "id"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", defaultValue, "form", "")
		r.sort = &defaultValue
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EvaluationDatasetsAPIUpdateEvaluationDatasetItemV1EvaluationDatasetsDatasetIdItemsItemIdPutRequest struct {
	ctx                         context.Context
	ApiService                  *EvaluationDatasetsAPIService
	datasetId                   string
	itemId                      string
	evaluationDatasetItemUpdate *EvaluationDatasetItemUpdate
}

func (r EvaluationDatasetsAPIUpdateEvaluationDatasetItemV1EvaluationDatasetsDatasetIdItemsItemIdPutRequest) EvaluationDatasetItemUpdate(evaluationDatasetItemUpdate EvaluationDatasetItemUpdate) EvaluationDatasetsAPIUpdateEvaluationDatasetItemV1EvaluationDatasetsDatasetIdItemsItemIdPutRequest {
	r.evaluationDatasetItemUpdate = &evaluationDatasetItemUpdate
	return r
}

func (r EvaluationDatasetsAPIUpdateEvaluationDatasetItemV1EvaluationDatasetsDatasetIdItemsItemIdPutRequest) Execute() (*EvaluationDatasetItemRepresentation, *http.Response, error) {
	return r.ApiService.UpdateEvaluationDatasetItemV1EvaluationDatasetsDatasetIdItemsItemIdPutExecute(r)
}

/*
UpdateEvaluationDatasetItemV1EvaluationDatasetsDatasetIdItemsItemIdPut Update Evaluation Dataset Item

Update an item in an evaluation dataset.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param datasetId
	@param itemId
	@return EvaluationDatasetsAPIUpdateEvaluationDatasetItemV1EvaluationDatasetsDatasetIdItemsItemIdPutRequest
*/
func (a *EvaluationDatasetsAPIService) UpdateEvaluationDatasetItemV1EvaluationDatasetsDatasetIdItemsItemIdPut(ctx context.Context, datasetId string, itemId string) EvaluationDatasetsAPIUpdateEvaluationDatasetItemV1EvaluationDatasetsDatasetIdItemsItemIdPutRequest {
	return EvaluationDatasetsAPIUpdateEvaluationDatasetItemV1EvaluationDatasetsDatasetIdItemsItemIdPutRequest{
		ApiService: a,
		ctx:        ctx,
		datasetId:  datasetId,
		itemId:     itemId,
	}
}

// Execute executes the request
//
//	@return EvaluationDatasetItemRepresentation
func (a *EvaluationDatasetsAPIService) UpdateEvaluationDatasetItemV1EvaluationDatasetsDatasetIdItemsItemIdPutExecute(r EvaluationDatasetsAPIUpdateEvaluationDatasetItemV1EvaluationDatasetsDatasetIdItemsItemIdPutRequest) (*EvaluationDatasetItemRepresentation, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *EvaluationDatasetItemRepresentation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EvaluationDatasetsAPIService.UpdateEvaluationDatasetItemV1EvaluationDatasetsDatasetIdItemsItemIdPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/evaluation-datasets/{dataset_id}/items/{item_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"dataset_id"+"}", url.PathEscape(parameterValueToString(r.datasetId, "datasetId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"item_id"+"}", url.PathEscape(parameterValueToString(r.itemId, "itemId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.evaluationDatasetItemUpdate == nil {
		return localVarReturnValue, nil, reportError("evaluationDatasetItemUpdate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.evaluationDatasetItemUpdate
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type EvaluationDatasetsAPIUpdateEvaluationDatasetV1EvaluationDatasetsDatasetIdPutRequest struct {
	ctx                     context.Context
	ApiService              *EvaluationDatasetsAPIService
	datasetId               string
	evaluationDatasetUpdate *EvaluationDatasetUpdate
}

func (r EvaluationDatasetsAPIUpdateEvaluationDatasetV1EvaluationDatasetsDatasetIdPutRequest) EvaluationDatasetUpdate(evaluationDatasetUpdate EvaluationDatasetUpdate) EvaluationDatasetsAPIUpdateEvaluationDatasetV1EvaluationDatasetsDatasetIdPutRequest {
	r.evaluationDatasetUpdate = &evaluationDatasetUpdate
	return r
}

func (r EvaluationDatasetsAPIUpdateEvaluationDatasetV1EvaluationDatasetsDatasetIdPutRequest) Execute() (*EvaluationDatasetRepresentation, *http.Response, error) {
	return r.ApiService.UpdateEvaluationDatasetV1EvaluationDatasetsDatasetIdPutExecute(r)
}

/*
UpdateEvaluationDatasetV1EvaluationDatasetsDatasetIdPut Update Evaluation Dataset

Update an evaluation dataset.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param datasetId
	@return EvaluationDatasetsAPIUpdateEvaluationDatasetV1EvaluationDatasetsDatasetIdPutRequest
*/
func (a *EvaluationDatasetsAPIService) UpdateEvaluationDatasetV1EvaluationDatasetsDatasetIdPut(ctx context.Context, datasetId string) EvaluationDatasetsAPIUpdateEvaluationDatasetV1EvaluationDatasetsDatasetIdPutRequest {
	return EvaluationDatasetsAPIUpdateEvaluationDatasetV1EvaluationDatasetsDatasetIdPutRequest{
		ApiService: a,
		ctx:        ctx,
		datasetId:  datasetId,
	}
}

// Execute executes the request
//
//	@return EvaluationDatasetRepresentation
func (a *EvaluationDatasetsAPIService) UpdateEvaluationDatasetV1EvaluationDatasetsDatasetIdPutExecute(r EvaluationDatasetsAPIUpdateEvaluationDatasetV1EvaluationDatasetsDatasetIdPutRequest) (*EvaluationDatasetRepresentation, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *EvaluationDatasetRepresentation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EvaluationDatasetsAPIService.UpdateEvaluationDatasetV1EvaluationDatasetsDatasetIdPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/evaluation-datasets/{dataset_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"dataset_id"+"}", url.PathEscape(parameterValueToString(r.datasetId, "datasetId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.evaluationDatasetUpdate == nil {
		return localVarReturnValue, nil, reportError("evaluationDatasetUpdate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.evaluationDatasetUpdate
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
