/*
Corax API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v2.91.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// ModelDeploymentsAPIService ModelDeploymentsAPI service
type ModelDeploymentsAPIService service

type ModelDeploymentsAPICreateModelDeploymentV1ModelDeploymentsPostRequest struct {
	ctx                   context.Context
	ApiService            *ModelDeploymentsAPIService
	modelDeploymentCreate *ModelDeploymentCreate
}

func (r ModelDeploymentsAPICreateModelDeploymentV1ModelDeploymentsPostRequest) ModelDeploymentCreate(modelDeploymentCreate ModelDeploymentCreate) ModelDeploymentsAPICreateModelDeploymentV1ModelDeploymentsPostRequest {
	r.modelDeploymentCreate = &modelDeploymentCreate
	return r
}

func (r ModelDeploymentsAPICreateModelDeploymentV1ModelDeploymentsPostRequest) Execute() (*ModelDeployment, *http.Response, error) {
	return r.ApiService.CreateModelDeploymentV1ModelDeploymentsPostExecute(r)
}

/*
CreateModelDeploymentV1ModelDeploymentsPost Create Model Deployment

Create a new model deployment.

Args:

	request: The FastAPI request object
	deployment: Model deployment data
	service: The model deployment service
	user: The authenticated user

Returns:

	   Created ModelDeployment with HATEOAS links

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ModelDeploymentsAPICreateModelDeploymentV1ModelDeploymentsPostRequest
*/
func (a *ModelDeploymentsAPIService) CreateModelDeploymentV1ModelDeploymentsPost(ctx context.Context) ModelDeploymentsAPICreateModelDeploymentV1ModelDeploymentsPostRequest {
	return ModelDeploymentsAPICreateModelDeploymentV1ModelDeploymentsPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ModelDeployment
func (a *ModelDeploymentsAPIService) CreateModelDeploymentV1ModelDeploymentsPostExecute(r ModelDeploymentsAPICreateModelDeploymentV1ModelDeploymentsPostRequest) (*ModelDeployment, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ModelDeployment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ModelDeploymentsAPIService.CreateModelDeploymentV1ModelDeploymentsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/model-deployments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.modelDeploymentCreate == nil {
		return localVarReturnValue, nil, reportError("modelDeploymentCreate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.modelDeploymentCreate
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ModelDeploymentsAPIDeleteModelDeploymentV1ModelDeploymentsDeploymentIdDeleteRequest struct {
	ctx          context.Context
	ApiService   *ModelDeploymentsAPIService
	deploymentId string
}

func (r ModelDeploymentsAPIDeleteModelDeploymentV1ModelDeploymentsDeploymentIdDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteModelDeploymentV1ModelDeploymentsDeploymentIdDeleteExecute(r)
}

/*
DeleteModelDeploymentV1ModelDeploymentsDeploymentIdDelete Delete Model Deployment

Delete a model deployment.

Args:

	deployment_id: The ID of the deployment to delete
	service: The model deployment service
	user: The authenticated user

Returns:

	   None with NO_CONTENT status

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param deploymentId
	@return ModelDeploymentsAPIDeleteModelDeploymentV1ModelDeploymentsDeploymentIdDeleteRequest
*/
func (a *ModelDeploymentsAPIService) DeleteModelDeploymentV1ModelDeploymentsDeploymentIdDelete(ctx context.Context, deploymentId string) ModelDeploymentsAPIDeleteModelDeploymentV1ModelDeploymentsDeploymentIdDeleteRequest {
	return ModelDeploymentsAPIDeleteModelDeploymentV1ModelDeploymentsDeploymentIdDeleteRequest{
		ApiService:   a,
		ctx:          ctx,
		deploymentId: deploymentId,
	}
}

// Execute executes the request
func (a *ModelDeploymentsAPIService) DeleteModelDeploymentV1ModelDeploymentsDeploymentIdDeleteExecute(r ModelDeploymentsAPIDeleteModelDeploymentV1ModelDeploymentsDeploymentIdDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ModelDeploymentsAPIService.DeleteModelDeploymentV1ModelDeploymentsDeploymentIdDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/model-deployments/{deployment_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"deployment_id"+"}", url.PathEscape(parameterValueToString(r.deploymentId, "deploymentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ModelDeploymentsAPIGetModelDeploymentV1ModelDeploymentsDeploymentIdGetRequest struct {
	ctx          context.Context
	ApiService   *ModelDeploymentsAPIService
	deploymentId string
}

func (r ModelDeploymentsAPIGetModelDeploymentV1ModelDeploymentsDeploymentIdGetRequest) Execute() (*ModelDeployment, *http.Response, error) {
	return r.ApiService.GetModelDeploymentV1ModelDeploymentsDeploymentIdGetExecute(r)
}

/*
GetModelDeploymentV1ModelDeploymentsDeploymentIdGet Get Model Deployment

Get a specific model deployment by ID.

Args:

	request: The FastAPI request object
	deployment_id: The ID of the deployment to retrieve
	service: The model deployment service

Returns:

	   ModelDeployment with HATEOAS links

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param deploymentId
	@return ModelDeploymentsAPIGetModelDeploymentV1ModelDeploymentsDeploymentIdGetRequest
*/
func (a *ModelDeploymentsAPIService) GetModelDeploymentV1ModelDeploymentsDeploymentIdGet(ctx context.Context, deploymentId string) ModelDeploymentsAPIGetModelDeploymentV1ModelDeploymentsDeploymentIdGetRequest {
	return ModelDeploymentsAPIGetModelDeploymentV1ModelDeploymentsDeploymentIdGetRequest{
		ApiService:   a,
		ctx:          ctx,
		deploymentId: deploymentId,
	}
}

// Execute executes the request
//
//	@return ModelDeployment
func (a *ModelDeploymentsAPIService) GetModelDeploymentV1ModelDeploymentsDeploymentIdGetExecute(r ModelDeploymentsAPIGetModelDeploymentV1ModelDeploymentsDeploymentIdGetRequest) (*ModelDeployment, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ModelDeployment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ModelDeploymentsAPIService.GetModelDeploymentV1ModelDeploymentsDeploymentIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/model-deployments/{deployment_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"deployment_id"+"}", url.PathEscape(parameterValueToString(r.deploymentId, "deploymentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ModelDeploymentsAPIListModelDeploymentsV1ModelDeploymentsGetRequest struct {
	ctx        context.Context
	ApiService *ModelDeploymentsAPIService
	page       *int32
	size       *int32
	sort       *string
	filter     *string
}

func (r ModelDeploymentsAPIListModelDeploymentsV1ModelDeploymentsGetRequest) Page(page int32) ModelDeploymentsAPIListModelDeploymentsV1ModelDeploymentsGetRequest {
	r.page = &page
	return r
}

func (r ModelDeploymentsAPIListModelDeploymentsV1ModelDeploymentsGetRequest) Size(size int32) ModelDeploymentsAPIListModelDeploymentsV1ModelDeploymentsGetRequest {
	r.size = &size
	return r
}

func (r ModelDeploymentsAPIListModelDeploymentsV1ModelDeploymentsGetRequest) Sort(sort string) ModelDeploymentsAPIListModelDeploymentsV1ModelDeploymentsGetRequest {
	r.sort = &sort
	return r
}

func (r ModelDeploymentsAPIListModelDeploymentsV1ModelDeploymentsGetRequest) Filter(filter string) ModelDeploymentsAPIListModelDeploymentsV1ModelDeploymentsGetRequest {
	r.filter = &filter
	return r
}

func (r ModelDeploymentsAPIListModelDeploymentsV1ModelDeploymentsGetRequest) Execute() (*PagedResponseModelModelDeployment, *http.Response, error) {
	return r.ApiService.ListModelDeploymentsV1ModelDeploymentsGetExecute(r)
}

/*
ListModelDeploymentsV1ModelDeploymentsGet List Model Deployments

Get a paginated list of model deployments.

Args:

	request: The FastAPI request object
	page_params: Pagination parameters
	service: The model deployment service

Returns:

	   PagedResponseModel containing model deployments with HATEOAS links

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ModelDeploymentsAPIListModelDeploymentsV1ModelDeploymentsGetRequest
*/
func (a *ModelDeploymentsAPIService) ListModelDeploymentsV1ModelDeploymentsGet(ctx context.Context) ModelDeploymentsAPIListModelDeploymentsV1ModelDeploymentsGetRequest {
	return ModelDeploymentsAPIListModelDeploymentsV1ModelDeploymentsGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PagedResponseModelModelDeployment
func (a *ModelDeploymentsAPIService) ListModelDeploymentsV1ModelDeploymentsGetExecute(r ModelDeploymentsAPIListModelDeploymentsV1ModelDeploymentsGetRequest) (*PagedResponseModelModelDeployment, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PagedResponseModelModelDeployment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ModelDeploymentsAPIService.ListModelDeploymentsV1ModelDeploymentsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/model-deployments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	} else {
		var defaultValue int32 = 10
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", defaultValue, "form", "")
		r.size = &defaultValue
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	} else {
		var defaultValue string = "id"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", defaultValue, "form", "")
		r.sort = &defaultValue
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ModelDeploymentsAPIUpdateModelDeploymentV1ModelDeploymentsDeploymentIdPutRequest struct {
	ctx                   context.Context
	ApiService            *ModelDeploymentsAPIService
	deploymentId          string
	modelDeploymentUpdate *ModelDeploymentUpdate
}

func (r ModelDeploymentsAPIUpdateModelDeploymentV1ModelDeploymentsDeploymentIdPutRequest) ModelDeploymentUpdate(modelDeploymentUpdate ModelDeploymentUpdate) ModelDeploymentsAPIUpdateModelDeploymentV1ModelDeploymentsDeploymentIdPutRequest {
	r.modelDeploymentUpdate = &modelDeploymentUpdate
	return r
}

func (r ModelDeploymentsAPIUpdateModelDeploymentV1ModelDeploymentsDeploymentIdPutRequest) Execute() (*ModelDeployment, *http.Response, error) {
	return r.ApiService.UpdateModelDeploymentV1ModelDeploymentsDeploymentIdPutExecute(r)
}

/*
UpdateModelDeploymentV1ModelDeploymentsDeploymentIdPut Update Model Deployment

Update an existing model deployment.

Args:

	request: The FastAPI request object
	deployment_id: The ID of the deployment to update
	deployment: Updated model deployment data
	service: The model deployment service
	user: The authenticated user

Returns:

	   Updated ModelDeployment with HATEOAS links

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param deploymentId
	@return ModelDeploymentsAPIUpdateModelDeploymentV1ModelDeploymentsDeploymentIdPutRequest
*/
func (a *ModelDeploymentsAPIService) UpdateModelDeploymentV1ModelDeploymentsDeploymentIdPut(ctx context.Context, deploymentId string) ModelDeploymentsAPIUpdateModelDeploymentV1ModelDeploymentsDeploymentIdPutRequest {
	return ModelDeploymentsAPIUpdateModelDeploymentV1ModelDeploymentsDeploymentIdPutRequest{
		ApiService:   a,
		ctx:          ctx,
		deploymentId: deploymentId,
	}
}

// Execute executes the request
//
//	@return ModelDeployment
func (a *ModelDeploymentsAPIService) UpdateModelDeploymentV1ModelDeploymentsDeploymentIdPutExecute(r ModelDeploymentsAPIUpdateModelDeploymentV1ModelDeploymentsDeploymentIdPutRequest) (*ModelDeployment, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ModelDeployment
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ModelDeploymentsAPIService.UpdateModelDeploymentV1ModelDeploymentsDeploymentIdPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/model-deployments/{deployment_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"deployment_id"+"}", url.PathEscape(parameterValueToString(r.deploymentId, "deploymentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.modelDeploymentUpdate == nil {
		return localVarReturnValue, nil, reportError("modelDeploymentUpdate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.modelDeploymentUpdate
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
