/*
Corax API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: v2.91.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// CriterionTypesAPIService CriterionTypesAPI service
type CriterionTypesAPIService service

type CriterionTypesAPIGetEvaluationCriterionTypeV1CriterionTypesCriterionTypeGetRequest struct {
	ctx           context.Context
	ApiService    *CriterionTypesAPIService
	criterionType string
}

func (r CriterionTypesAPIGetEvaluationCriterionTypeV1CriterionTypesCriterionTypeGetRequest) Execute() (*CapabilityEvaluationCriterionTypeRepresentation, *http.Response, error) {
	return r.ApiService.GetEvaluationCriterionTypeV1CriterionTypesCriterionTypeGetExecute(r)
}

/*
GetEvaluationCriterionTypeV1CriterionTypesCriterionTypeGet Get Evaluation Criterion Type

Get a specific evaluation criterion type by ID.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param criterionType
	@return CriterionTypesAPIGetEvaluationCriterionTypeV1CriterionTypesCriterionTypeGetRequest
*/
func (a *CriterionTypesAPIService) GetEvaluationCriterionTypeV1CriterionTypesCriterionTypeGet(ctx context.Context, criterionType string) CriterionTypesAPIGetEvaluationCriterionTypeV1CriterionTypesCriterionTypeGetRequest {
	return CriterionTypesAPIGetEvaluationCriterionTypeV1CriterionTypesCriterionTypeGetRequest{
		ApiService:    a,
		ctx:           ctx,
		criterionType: criterionType,
	}
}

// Execute executes the request
//
//	@return CapabilityEvaluationCriterionTypeRepresentation
func (a *CriterionTypesAPIService) GetEvaluationCriterionTypeV1CriterionTypesCriterionTypeGetExecute(r CriterionTypesAPIGetEvaluationCriterionTypeV1CriterionTypesCriterionTypeGetRequest) (*CapabilityEvaluationCriterionTypeRepresentation, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CapabilityEvaluationCriterionTypeRepresentation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CriterionTypesAPIService.GetEvaluationCriterionTypeV1CriterionTypesCriterionTypeGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/criterion-types/{criterion_type}"
	localVarPath = strings.Replace(localVarPath, "{"+"criterion_type"+"}", url.PathEscape(parameterValueToString(r.criterionType, "criterionType")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type CriterionTypesAPIListEvaluationCriteriaTypesV1CriterionTypesGetRequest struct {
	ctx        context.Context
	ApiService *CriterionTypesAPIService
	page       *int32
	size       *int32
	sort       *string
	filter     *string
}

func (r CriterionTypesAPIListEvaluationCriteriaTypesV1CriterionTypesGetRequest) Page(page int32) CriterionTypesAPIListEvaluationCriteriaTypesV1CriterionTypesGetRequest {
	r.page = &page
	return r
}

func (r CriterionTypesAPIListEvaluationCriteriaTypesV1CriterionTypesGetRequest) Size(size int32) CriterionTypesAPIListEvaluationCriteriaTypesV1CriterionTypesGetRequest {
	r.size = &size
	return r
}

func (r CriterionTypesAPIListEvaluationCriteriaTypesV1CriterionTypesGetRequest) Sort(sort string) CriterionTypesAPIListEvaluationCriteriaTypesV1CriterionTypesGetRequest {
	r.sort = &sort
	return r
}

func (r CriterionTypesAPIListEvaluationCriteriaTypesV1CriterionTypesGetRequest) Filter(filter string) CriterionTypesAPIListEvaluationCriteriaTypesV1CriterionTypesGetRequest {
	r.filter = &filter
	return r
}

func (r CriterionTypesAPIListEvaluationCriteriaTypesV1CriterionTypesGetRequest) Execute() (*PagedResponseModelCapabilityEvaluationCriterionTypeRepresentation, *http.Response, error) {
	return r.ApiService.ListEvaluationCriteriaTypesV1CriterionTypesGetExecute(r)
}

/*
ListEvaluationCriteriaTypesV1CriterionTypesGet List Evaluation Criteria Types

Get all evaluation criteria types.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return CriterionTypesAPIListEvaluationCriteriaTypesV1CriterionTypesGetRequest
*/
func (a *CriterionTypesAPIService) ListEvaluationCriteriaTypesV1CriterionTypesGet(ctx context.Context) CriterionTypesAPIListEvaluationCriteriaTypesV1CriterionTypesGetRequest {
	return CriterionTypesAPIListEvaluationCriteriaTypesV1CriterionTypesGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PagedResponseModelCapabilityEvaluationCriterionTypeRepresentation
func (a *CriterionTypesAPIService) ListEvaluationCriteriaTypesV1CriterionTypesGetExecute(r CriterionTypesAPIListEvaluationCriteriaTypesV1CriterionTypesGetRequest) (*PagedResponseModelCapabilityEvaluationCriterionTypeRepresentation, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PagedResponseModelCapabilityEvaluationCriterionTypeRepresentation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CriterionTypesAPIService.ListEvaluationCriteriaTypesV1CriterionTypesGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/criterion-types"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	} else {
		var defaultValue int32 = 10
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", defaultValue, "form", "")
		r.size = &defaultValue
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	} else {
		var defaultValue string = "id"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", defaultValue, "form", "")
		r.sort = &defaultValue
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["APIKeyHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-API-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
